workflows/nusquama__n8nworkflows.xyz/AlertAssistant.json
{
  "id": "5y9grmCB8IAuxD4d",
  "meta": {
    "instanceId": "692a4531fef66763dc9fefd13abab9be42c96948d0e43fd67b83edc1d09e2ea4"
  },
  "name": "AlertAssistant",
  "tags": [],
  "nodes": [
    {
      "id": "8d745fd9-3399-4183-8e18-5f16c3af8ff4",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        608,
        448
      ],
      "parameters": {
        "options": {
          "systemMessage": "=You are an experienced SRE assistant. Your main goal is to assist in the investigation of the incident indicated by the Alert.\n\nOur general endpints\n- \n\nYou have access to two MCP tool sets: Use a database connection tool to get details about the triggered alert.\n\n## Kubernetes Tools\nUse these to inspect cluster state: pods, deployments, ingress, services, logs, events, etc\n- Read container logs for error investigation\n- List resources across namespaces\n\n## Grafana Tools  \nUse these to query metrics, logs, dashboards, and alerts:\n- **Prometheus**: query_prometheus for PromQL queries (CPU, memory, request rates, error rates). Datasource uid: {{ $('SetVars').first().json.prometheus_uid }}\n- **Loki**: query_loki_logs for LogQL log searches. Datasource uid: {{ $('SetVars').first().json.loki_uid }}\n- **Dashboards**: search_dashboards, get_dashboard_summary to find relevant dashboards\n\n## Vector store tools\n- Read alerts rules to understand the conditions for their activation\n\n## Digitalocean tools:\n- Use if you need information about App Platform, Droplets, Kubernetes(DOKS), Networking\n\n## Github tools\n- Use this to find out if releases have been executed.\n- Search only within the organization <your org>.\n\n## Critical Rules for Tool Usage\n1. **Never retry a failed tool call more than once.** If a Kubernetes resource (pod, deployment, node) is not found on the first attempt, it likely no longer exists. Do NOT retry the same query.\n2. **If any tool returns an error or empty result**, acknowledge it and move on.\n\n## Important rules\n- Don't ask anything, analyze it yourself\n\n## Investigation flow recommendations\n- Pay attention to the alert labels. They will help you understand what the problem is and where it is.\n- Study the alert description and its labels.\n- Try executing the request that triggered the alert.\n- Check the status of the service affected by the alert.\n- Check the resource consumption of this service.\n- Find out if releases have been executed\n- Examine the service logs.\n- Draw a conclusion based on the data received; you can use generating dashboard panels\n\n## Output format\n### What happened\nDescription of what happened and what happened to what\n\n### Event timeline\nDescription of events preceding the alert for more than 10 minutes\n\n### Root cause\nNo more than two root cause suggestions\n\n### Troubleshooting tips\nStep-by-step description of actions for each root cause\n\nWhen formatting your text, make sure it's easy to read in Mattermost.\n"
        }
      },
      "typeVersion": 3.1
    },
    {
      "id": "7fbe723a-169a-4e7c-8686-fd09cdf3977f",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        464,
        592
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5.3-codex",
          "cachedResultName": "gpt-5.3-codex"
        },
        "options": {},
        "builtInTools": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "YqUclNJ5ZMSQShmK",
          "name": "OpenAi account"
        }
      },
      "typeVersion": 1.3
    },
    {
      "id": "6957df49-51ba-4c1c-bc53-3dee07f9fb11",
      "name": "Qdrant Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "position": [
        992,
        944
      ],
      "parameters": {
        "mode": "retrieve-as-tool",
        "options": {},
        "toolDescription": "Use this tool to fetch knowledge from the database. ",
        "qdrantCollection": {
          "__rl": true,
          "mode": "list",
          "value": "observability",
          "cachedResultName": "observability"
        }
      },
      "credentials": {
        "qdrantApi": {
          "id": "xjNBLWiBkrXqQZdg",
          "name": "QdrantApi account"
        }
      },
      "typeVersion": 1.3
    },
    {
      "id": "39ccd5e2-7ff9-4a46-92aa-c82e74f85433",
      "name": "Embeddings Google Gemini",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "position": [
        992,
        1152
      ],
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "credentials": {
        "googlePalmApi": {
          "id": "Dpf9LrCQzAsbokWH",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "af2bc1a7-d085-4603-9193-81c944ac6381",
      "name": "K8S mcp",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "position": [
        720,
        944
      ],
      "parameters": {
        "include": "selected",
        "options": {},
        "endpointUrl": "http://mcp-kubernetes:8089/mcp",
        "includeTools": [
          "configuration_view",
          "events_list",
          "namespaces_list",
          "nodes_log",
          "nodes_stats_summary",
          "nodes_top",
          "pods_get",
          "pods_list",
          "pods_list_in_namespace",
          "pods_log",
          "pods_top",
          "resources_get",
          "resources_list"
        ]
      },
      "typeVersion": 1.2
    },
    {
      "id": "130bbbe8-f909-4b93-a4a5-22d6758fd984",
      "name": "Grafana mcp",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "position": [
        864,
        944
      ],
      "parameters": {
        "include": "selected",
        "options": {
          "timeout": 60000
        },
        "endpointUrl": "http://mcp-grafana:8000/mcp",
        "includeTools": [
          "generate_deeplink",
          "get_alert_rule_by_uid",
          "get_annotations",
          "get_dashboard_by_uid",
          "get_dashboard_panel_queries",
          "get_dashboard_property",
          "get_dashboard_summary",
          "get_datasource_by_name",
          "get_datasource_by_uid",
          "get_panel_image",
          "get_sift_analysis",
          "get_sift_investigation",
          "list_alert_rules",
          "list_loki_label_names",
          "list_loki_label_values",
          "list_prometheus_label_names",
          "list_prometheus_label_values",
          "list_prometheus_metric_metadata",
          "list_prometheus_metric_names",
          "query_loki_logs",
          "query_loki_patterns",
          "query_loki_stats",
          "query_prometheus",
          "query_prometheus_histogram",
          "search_dashboards"
        ]
      },
      "typeVersion": 1.2
    },
    {
      "id": "e33a8a24-6ceb-444b-a693-cc04306cfef9",
      "name": "Digitalocean MCP",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "position": [
        576,
        944
      ],
      "parameters": {
        "include": "selected",
        "options": {
          "timeout": 60000
        },
        "endpointUrl": "http://mcp-digitalocean:8090/mcp",
        "includeTools": [
          "apps-get-deployment-status",
          "apps-get-info",
          "apps-get-logs",
          "apps-list",
          "byoip-prefix-get",
          "byoip-prefix-list",
          "byoip-prefix-resources-get",
          "certificate-get",
          "certificate-list",
          "doks-get-cluster",
          "doks-get-cluster-upgrades",
          "doks-get-nodepool",
          "doks-list-options",
          "doks-list-nodepools",
          "doks-list-clusters",
          "domain-get",
          "domain-list",
          "domain-record-list",
          "domain-record-get",
          "droplet-get",
          "droplet-list",
          "firewall-get",
          "firewall-list",
          "image-action-get",
          "image-get",
          "image-list",
          "lb-get",
          "lb-list",
          "region-list",
          "reserved-ip-list",
          "reserved-ip-get",
          "size-list",
          "vpc-list",
          "vpc-get",
          "vpc-list-members",
          "vpc-peering-get",
          "vpc-peering-list"
        ]
      },
      "typeVersion": 1.2
    },
    {
      "id": "b704efa7-6479-47a8-86b2-b6a5fa103ef4",
      "name": "Github MCP",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "position": [
        448,
        944
      ],
      "parameters": {
        "include": "selected",
        "options": {},
        "endpointUrl": "=http://mcp-github:8091/mcp",
        "includeTools": [
          "search_repositories",
          "get_file_contents",
          "list_commits",
          "list_issues",
          "search_issues",
          "get_issue",
          "get_pull_request",
          "list_pull_requests",
          "get_pull_request_files",
          "get_pull_request_status",
          "get_pull_request_comments",
          "get_pull_request_reviews"
        ]
      },
      "typeVersion": 1.2
    },
    {
      "id": "581b947f-3273-4174-95d5-816419741372",
      "name": "Receive alerts",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -288,
        448
      ],
      "webhookId": "60ce83ea-e09f-4db3-a3f1-fba25e6c995a",
      "parameters": {
        "path": "alertmanager",
        "options": {},
        "httpMethod": "POST",
        "authentication": "basicAuth"
      },
      "credentials": {
        "httpBasicAuth": {
          "id": "pQiNrwWXgxcaxR7H",
          "name": "alertmanager-webhook"
        }
      },
      "typeVersion": 2.1
    },
    {
      "id": "edba7eee-545a-43d1-ae0d-4ef81ffe8193",
      "name": "GetAlertMessages",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1152,
        448
      ],
      "parameters": {
        "url": "=https://{{ $('SetVars').first().json.MATTERMOST_HOST }}/api/v4/channels/{{ $('SetVars').first().json.MATTERMOST_CHANNEL_ID }}/posts",
        "options": {},
        "sendQuery": true,
        "authentication": "predefinedCredentialType",
        "queryParameters": {
          "parameters": [
            {
              "name": "per_page",
              "value": "10"
            }
          ]
        },
        "nodeCredentialType": "mattermostApi"
      },
      "credentials": {
        "mattermostApi": {
          "id": "VuYowkkUoLxihLrh",
          "name": "Mattermost account"
        }
      },
      "typeVersion": 4.4
    },
    {
      "id": "dfe4c376-00ca-4571-ae82-019abaaed636",
      "name": "Post in thread",
      "type": "n8n-nodes-base.mattermost",
      "position": [
        1568,
        448
      ],
      "parameters": {
        "message": "={{ $('AI Agent').item }}",
        "channelId": "={{ $('SetVars').first().json.MATTERMOST_CHANNEL_ID }}",
        "attachments": [],
        "otherOptions": {
          "root_id": "={{ $json.thread_root_id }}"
        }
      },
      "credentials": {
        "mattermostApi": {
          "id": "VuYowkkUoLxihLrh",
          "name": "Mattermost account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "c8365480-544e-483a-8785-1e5e127158b0",
      "name": "PreProcessAlerts",
      "type": "n8n-nodes-base.code",
      "position": [
        144,
        448
      ],
      "parameters": {
        "jsCode": "const webhookData = $input.first().json.body || $input.first().json;\n\nconst SKIP_LABELS = new Set([\n  \"alertname\", \"endpoint\", \"instance\", \"job\",\n  \"metrics_path\", \"prometheus\", \"project\", \"env\",\n]);\n\nconst LABEL_RENAME = {\n  \"grafana_board\": \"Grafana Dashboard\",\n  \"persistentvolumeclaim\": \"PVC\",\n};\n\nconst alerts = webhookData.alerts || [];\nconst results = [];\n\nfor (const alert of alerts) {\n  const status = alert.status || \"unknown\";\n  const labels = alert.labels || {};\n  const annotations = alert.annotations || {};\n  const alertname = labels.alertname || \"UnknownAlert\";\n  const fingerprint = alert.fingerprint || \"\";\n  const startsAt = alert.startsAt || \"\";\n  const generatorURL = alert.generatorURL || \"\";\n\n  const lines = [\n    `Analyze this ${status.toUpperCase()} alert.`,\n    `Alertname: ${alertname}`,\n    `Severity: ${labels.severity || \"unknown\"}`,\n  ];\n\n  for (const key of Object.keys(labels).sort()) {\n    if (SKIP_LABELS.has(key) || key === \"severity\") continue;\n    const displayKey = LABEL_RENAME[key] || key;\n    lines.push(`${displayKey}: ${labels[key]}`);\n  }\n\n  if (startsAt) lines.push(`Started At: ${startsAt}`);\n  if (generatorURL) lines.push(`Alert Source: ${generatorURL}`);\n\n  for (const key of Object.keys(annotations).sort()) {\n    const displayKey = key.replace(/_/g, \" \").replace(/\\b\\w/g, c => c.toUpperCase());\n    lines.push(`${displayKey}: ${annotations[key]}`);\n  }\n\n  const chatInput = lines.join(\"\\n\");\n  const sessionId = fingerprint\n    ? `alert-${fingerprint}`\n    : `alert-${alertname}-${labels.namespace || \"\"}-${labels.service || \"\"}`;\n\n  results.push({\n    json: {\n      action: \"sendMessage\",\n      chatInput,\n      sessionId,\n    },\n  });\n}\n\nreturn results;"
      },
      "typeVersion": 2
    },
    {
      "id": "b8f64b31-ce11-4622-8d5a-1760faee8a4a",
      "name": "FindAlert",
      "type": "n8n-nodes-base.code",
      "position": [
        1360,
        448
      ],
      "parameters": {
        "jsCode": "let agentOutput = \"\";\nlet chatInput = \"\";\ntry {\n  const agentData = $('AI Agent').first().json;\n  agentOutput = agentData.output || \"\";\n  chatInput = agentData.chatInput || \"\";\n} catch (e) {\n  // AI Agent node not executed in this run\n}\n\n// Get Mattermost posts from GetAlertMessages (direct input)\nconst postsData = $input.first().json;\nconst order = postsData.order || [];\nconst posts = postsData.posts || {};\n\n// Extract alertname from chatInput\nlet alertname = \"\";\nfor (const line of chatInput.split(\"\\n\")) {\n  if (line.startsWith(\"Alertname:\")) {\n    alertname = line.split(\":\").slice(1).join(\":\").trim();\n    break;\n  }\n}\n\n// Search for existing Alertmanager post with this alertname\nlet thread_root_id = \"\";\n\nfor (const postId of order) {\n  const post = posts[postId] || {};\n  const props = post.props || {};\n  const attachments = props.attachments || [];\n\n  for (const att of attachments) {\n    const title = att.title || \"\";\n    // Match alertname in attachment title, e.g. \"[FIRING:1] KubeJobFailed\"\n    if (alertname && title.includes(alertname)) {\n      thread_root_id = post.root_id || postId;\n      break;\n    }\n  }\n  if (thread_root_id) break;\n}\n\nreturn [{\n  json: {\n    thread_root_id,\n    message: agentOutput,\n    alertname,\n  }\n}];"
      },
      "typeVersion": 2
    },
    {
      "id": "98d6bafe-1eb5-40b9-9c07-039164125ac3",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -368,
        352
      ],
      "parameters": {
        "width": 692,
        "height": 352,
        "content": "# Input chain\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nAdd your Mattermost server address and channel id into SetVars"
      },
      "typeVersion": 1
    },
    {
      "id": "900a2007-edbb-4a01-820b-d2c57be05767",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1056,
        352
      ],
      "parameters": {
        "width": 736,
        "height": 352,
        "content": "# Output chain"
      },
      "typeVersion": 1
    },
    {
      "id": "186a58b0-cd58-44b4-aec5-aec6128b9c15",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        416,
        352
      ],
      "parameters": {
        "color": 6,
        "width": 576,
        "height": 352,
        "content": "# Alert analysis"
      },
      "typeVersion": 1
    },
    {
      "id": "06021bf1-8efb-479a-adc2-dd505fb501c3",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        416,
        880
      ],
      "parameters": {
        "color": 4,
        "width": 848,
        "height": 448,
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n# MCP servers\nAdd correct URLs for remote MCPs\nUse following mcp:\n* [grafana-mcp](https://github.com/grafana/mcp-grafana)\n* [kubernetes-mcp-server](https://github.com/containers/kubernetes-mcp-server)\n* [digitalocean-mcp](https://github.com/digitalocean/digitalocean-mcp)\n* [github-mcp]"
      },
      "typeVersion": 1
    },
    {
      "id": "6497f0a5-3ed3-4d6e-992d-930160763d23",
      "name": "SetVars",
      "type": "n8n-nodes-base.set",
      "position": [
        -80,
        448
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "b5fe345b-04b2-4eef-a4a0-100ed63dc9de",
              "name": "MATTERMOST_HOST",
              "type": "string",
              "value": "mattermost.example.com"
            },
            {
              "id": "7b6f0211-00dc-4e0a-a6af-108c55c521de",
              "name": "MATTERMOST_CHANNEL_ID",
              "type": "string",
              "value": "dr87mpsdmbfrbxeag7i11acuyw"
            }
          ]
        },
        "includeOtherFields": true
      },
      "typeVersion": 3.4
    },
    {
      "id": "e3ed18c7-3317-409c-afe2-952b61b63b8d",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -368,
        752
      ],
      "parameters": {
        "color": 5,
        "width": 720,
        "height": 688,
        "content": "# Overview\nWorkflow receives alert from Alertmanager, analize it and send report to Mattermost\n## Requirements:\n1. OpenAI  or Anthropic API key\n2. Mattermost API key\n3. Google Gemini API key\n4. Webhook receiver in Alertmanager\n5. Webhook token\n6. Qdrant with token\n7. Github token\n8. Digitalocean token\n## How it work\n1. Workflow receives alert from Alertmanager via Webhook.\n2. The variables required for operation are set\n3. Preparing a prompt for the agent containing only the data necessary for analysis\n4. The agent performs diagnostics as described in the system prompt. During operation, it can access various systems via MCP to obtain additional information.\n5. Search for a message in a Mattermost channel corresponding to a processed alert\n6. Send report to Mattermost thread.\n## How to use\n1. Generate webhook credentials and use it in Alertmanager\n2. Add Alert fingerprint into Slack message template\n3. Set variables it SetVars node\n4. Add your own Rules and recomendations to system promt\n5 Run mcp servers\n6. Choose Mattermost channel with alerts"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "binaryMode": "separate",
    "availableInMCP": false,
    "executionOrder": "v1"
  },
  "versionId": "13b754a2-cd16-4e21-9d5d-985d7778f897",
  "connections": {
    "K8S mcp": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SetVars": {
      "main": [
        [
          {
            "node": "PreProcessAlerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "GetAlertMessages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FindAlert": {
      "main": [
        [
          {
            "node": "Post in thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Github MCP": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Grafana mcp": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Receive alerts": {
      "main": [
        [
          {
            "node": "SetVars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Digitalocean MCP": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GetAlertMessages": {
      "main": [
        [
          {
            "node": "FindAlert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PreProcessAlerts": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  }
}