workflows/nusquama__n8nworkflows.xyz/generate_linkedin_leads_using_google_sheets_and_serper_api.json
{
  "nodes": [
    {
      "id": "a6e6a0ad-ad95-4f18-a24b-c591782c6855",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3440,
        1616
      ],
      "parameters": {
        "width": 480,
        "height": 736,
        "content": "## Untitled workflow\n\n### How it works\n\n1. The workflow starts with manually triggering the process.\n2. It reads search criteria and filters the items based on certain conditions.\n3. It builds paginated search queries for further LinkedIn profile searches.\n4. The workflow processes the searches in batches, handling rate limits and errors.\n5. It parses and deduplicates profile data before saving new profiles to a target list.\n\n### Setup steps\n\n- [ ] Set up Google Sheets API credentials for accessing the spreadsheet.\n- [ ] Configure the HTTP request node to interact with the LinkedIn search API.\n- [ ] Ensure rate limiting configurations align with API constraints.\n\n### Customization\n\nThe number of profiles processed in parallel and the rate-limit delay can be adjusted based on API usage limits."
      },
      "typeVersion": 1
    },
    {
      "id": "79db2eeb-b37b-4304-a07b-82770c82ef1c",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2880,
        1664
      ],
      "parameters": {
        "color": 7,
        "width": 448,
        "height": 304,
        "content": "## Manual trigger and criteria\n\nStart the process and read search criteria from Google Sheets."
      },
      "typeVersion": 1
    },
    {
      "id": "076c56d4-40c6-4ef7-9164-61006ab7a036",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2400,
        1664
      ],
      "parameters": {
        "color": 7,
        "width": 416,
        "height": 304,
        "content": "## Filter and search setup\n\nFilter search criteria and build paginated search inputs."
      },
      "typeVersion": 1
    },
    {
      "id": "5143bcc6-7e7a-49f1-bb29-719124381f37",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1936,
        1680
      ],
      "parameters": {
        "color": 7,
        "width": 368,
        "height": 320,
        "content": "## Manage batches and searches\n\nProcess search batches and send requests to the LinkedIn search API."
      },
      "typeVersion": 1
    },
    {
      "id": "03a36db7-3fa8-437c-9bac-d8689fd32808",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1408,
        1616
      ],
      "parameters": {
        "color": 7,
        "width": 256,
        "height": 560,
        "content": "## Rate limiting and error handling\n\nHandle rate limits and manage errors during API requests."
      },
      "typeVersion": 1
    },
    {
      "id": "9c2154e4-fe7a-41f3-aafb-67c30ef7628c",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -832,
        1680
      ],
      "parameters": {
        "color": 7,
        "width": 416,
        "height": 304,
        "content": "## Profile parsing and deduplication\n\nParse API responses and remove duplicate profiles."
      },
      "typeVersion": 1
    },
    {
      "id": "aca640f8-f789-4929-b211-a4d919101686",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -384,
        1680
      ],
      "parameters": {
        "color": 7,
        "width": 416,
        "height": 304,
        "content": "## Existing profile filtering\n\nRead existing profiles and filter out duplicates."
      },
      "typeVersion": 1
    },
    {
      "id": "c783e0a4-90e4-4929-802f-378d0fa83204",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        64,
        1680
      ],
      "parameters": {
        "color": 7,
        "width": 416,
        "height": 304,
        "content": "## Save new profiles\n\nCheck for new profiles and save them to a target list."
      },
      "typeVersion": 1
    },
    {
      "id": "beb59b9c-b5ec-476d-bc27-89ce8b548514",
      "name": "Manual Start",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -2832,
        1792
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "0c87a2de-af3b-4761-a527-4248edd2190b",
      "name": "Batch Process 50 Pages",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        -1888,
        1808
      ],
      "parameters": {
        "options": {},
        "batchSize": 50
      },
      "typeVersion": 3
    },
    {
      "id": "b19c6b42-548a-4537-a723-693408357009",
      "name": "Wait for Rate Limit",
      "type": "n8n-nodes-base.wait",
      "position": [
        -1296,
        1808
      ],
      "webhookId": "rate-limit-pause",
      "parameters": {
        "unit": "seconds"
      },
      "typeVersion": 1
    },
    {
      "id": "7ca99055-9d5a-4eec-9ac8-375c0bf07e8d",
      "name": "Deduplicate Profiles by URL",
      "type": "n8n-nodes-base.code",
      "position": [
        -560,
        1808
      ],
      "parameters": {
        "jsCode": "// Deduplicate profiles by URL\nconst allItems = $input.all();\nconst seen = new Set();\nconst unique = [];\n\nallItems.forEach(item => {\n  const url = item.json.profile_url;\n  if (url && !seen.has(url)) {\n    seen.add(url);\n    unique.push(item.json);\n  }\n});\n\nconsole.log(`Unique profiles after dedup: ${unique.length} (removed ${allItems.length - unique.length} duplicates)`);\nreturn unique;"
      },
      "typeVersion": 2
    },
    {
      "id": "cd2ba6d7-aca8-4b7e-b9ad-142b39942f39",
      "name": "Read Existing Profiles from Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -336,
        1808
      ],
      "parameters": {
        "options": {},
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 1857993126,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID/edit#gid=1857993126",
          "cachedResultName": "Target List"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_SPREADSHEET_ID",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID/edit?usp=drivesdk",
          "cachedResultName": "LinkedIn Targets"
        }
      },
      "typeVersion": 4
    },
    {
      "id": "0f584645-1db0-4842-9583-a448e92131ef",
      "name": "Filter New Profiles",
      "type": "n8n-nodes-base.code",
      "position": [
        -112,
        1808
      ],
      "parameters": {
        "jsCode": "// Get new profiles from Remove Duplicates node\nconst newProfiles = $('Deduplicate Profiles by URL').all().map(i => i.json);\n\n// Get existing profiles from sheet\nconst existingSheetData = $('Read Existing Profiles from Sheets').all();\n\nconst existingUrls = new Set();\nconst existingNames = new Set();\n\nexistingSheetData.forEach(item => {\n  const row = item.json;\n  if (row.profile_url) existingUrls.add(row.profile_url.trim());\n  if (row.fullName) existingNames.add(row.fullName.toLowerCase().trim());\n});\n\nconsole.log(`Profiles already in sheet: ${existingUrls.size}`);\nconsole.log(`New profiles from search: ${newProfiles.length}`);\n\nconst filtered = newProfiles.filter(profile => {\n  const urlExists = existingUrls.has((profile.profile_url || '').trim());\n  const nameExists = profile.fullName\n    ? existingNames.has(profile.fullName.toLowerCase().trim())\n    : false;\n  return !urlExists && !nameExists;\n});\n\nconsole.log(`Duplicates blocked: ${newProfiles.length - filtered.length}`);\nconsole.log(`Net new profiles to save: ${filtered.length}`);\n\nreturn filtered;"
      },
      "typeVersion": 2,
      "alwaysOutputData": true
    },
    {
      "id": "54689f67-4826-4d41-9bb0-5a6bbeb18c40",
      "name": "Get Search Criteria",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -2576,
        1792
      ],
      "parameters": {
        "options": {},
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 1987420033,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID/edit#gid=1987420033",
          "cachedResultName": "Search Criteria"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_SPREADSHEET_ID",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID/edit?usp=drivesdk",
          "cachedResultName": "LinkedIn Targets"
        }
      },
      "typeVersion": 4
    },
    {
      "id": "df7399dd-e066-4c0c-bf30-5c3deb949131",
      "name": "Post to LinkedIn Search API",
      "type": "n8n-nodes-base.httpRequest",
      "onError": "continueErrorOutput",
      "position": [
        -1712,
        1824
      ],
      "parameters": {
        "url": "https://google.serper.dev/search",
        "method": "POST",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 5
            }
          }
        },
        "sendBody": true,
        "sendHeaders": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $('Batch Process 50 Pages').last().json.query }}"
            },
            {
              "name": "num",
              "value": "={{ parseInt($('Batch Process 50 Pages').last().json.num) }}"
            }
          ]
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "YOUR_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "typeVersion": 4.2,
      "alwaysOutputData": false
    },
    {
      "id": "0eba081e-9ac4-444a-a3d3-b02646203081",
      "name": "Extract Profile Data",
      "type": "n8n-nodes-base.code",
      "position": [
        -784,
        1808
      ],
      "parameters": {
        "jsCode": "const profiles = [];\n\nconst items = $input.all();\n\nitems.forEach(item => {\n  const organicResults = item.json.organic || [];\n  const page = item.json.searchParameters?.page || 1;\n\n  organicResults.forEach(result => {\n    const url = result.link || '';\n    const title = result.title || '';\n    const snippet = result.snippet || '';\n\n    if (!url.includes('linkedin.com/in/')) return;\n\n    const isGreekUrl = url.includes('gr.linkedin.com');\n    const greekKeywords = ['greece', 'greek', 'ελλάδα', 'αθήνα', 'athens', 'thessaloniki', 'θεσσαλονίκη', 'piraeus', ', gr'];\n    const isGreekSnippet = greekKeywords.some(k => (snippet + title).toLowerCase().includes(k));\n\n    if (!isGreekUrl && !isGreekSnippet) return;\n\n    let name = '';\n    let jobTitle = '';\n    let company = '';\n    let location = '';\n\n    if (title.includes(' - ')) {\n      const parts = title.split(' - ');\n      name = parts[0].trim();\n      if (parts[1]) {\n        const cleanPart = parts[1].split('|')[0].trim();\n        if (cleanPart.includes(' at ')) {\n          const titleParts = cleanPart.split(' at ');\n          jobTitle = titleParts[0].trim();\n          company = titleParts[1] ? titleParts[1].trim() : '';\n        } else {\n          jobTitle = cleanPart;\n        }\n      }\n    } else if (title.includes('|')) {\n      name = title.split('|')[0].trim();\n    } else {\n      name = title.replace('LinkedIn', '').trim();\n    }\n\n    const locationMatch = snippet.match(/·\\s*([^·]+(?:,\\s*[^·]+)?)\\s*·/);\n    if (locationMatch) {\n      location = locationMatch[1].trim();\n    }\n\n    const nameParts = name.split(' ').filter(p => p.length > 0);\n    const firstName = nameParts[0] || '';\n    const lastName = nameParts.slice(1).join(' ') || '';\n\n    let domain = '';\n    if (company) {\n      domain = company.toLowerCase().replace(/[^a-z0-9]/g, '') + '.com';\n    }\n\n    profiles.push({\n      firstName,\n      lastName,\n      fullName: name,\n      title: jobTitle,\n      company,\n      domain,\n      location,\n      profile_url: url,\n      email: '',\n      phone: '',\n      scraped_date: new Date().toISOString().split('T')[0],\n      search_page: page\n    });\n  });\n});\n\nconst seen = new Set();\nconst unique = profiles.filter(p => {\n  if (seen.has(p.profile_url)) return false;\n  seen.add(p.profile_url);\n  return true;\n});\n\nconsole.log(`Found ${unique.length} unique profiles`);\nreturn unique.map(p => ({ json: p }));"
      },
      "typeVersion": 2,
      "alwaysOutputData": true
    },
    {
      "id": "55d69cc8-52e4-4ec5-88af-ded771e26f62",
      "name": "Check for New Profiles",
      "type": "n8n-nodes-base.if",
      "position": [
        112,
        1808
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 1,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "has_new_profiles",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json }}",
              "rightValue": 0
            }
          ]
        }
      },
      "typeVersion": 2
    },
    {
      "id": "5c108e3d-fa68-47eb-96c1-b73453977bd2",
      "name": "Append New Profiles to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        336,
        1808
      ],
      "parameters": {
        "columns": {
          "value": {
            "email": "={{ $json.email }}",
            "phone": "={{ $json.phone }}",
            "title": "={{ $json.title }}",
            "domain": "={{ $json.domain }}",
            "company": "={{ $json.company }}",
            "fullName": "={{ $json.fullName }}",
            "lastName": "={{ $json.lastName }}",
            "location": "={{ $json.location }}",
            "firstName": "={{ $json.firstName }}",
            "profile_url": "={{ $json.profile_url }}",
            "scraped_date": "={{ $json.scraped_date }}"
          },
          "schema": [
            {
              "id": "firstName",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "firstName",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "lastName",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "lastName",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "fullName",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "fullName",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "title",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "company",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "company",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "domain",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "domain",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "location",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "location",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "profile_url",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "profile_url",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "scraped_date",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "scraped_date",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "email",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "phone",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {},
        "operation": "append",
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 1857993126,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID/edit#gid=1857993126",
          "cachedResultName": "Target List"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_SPREADSHEET_ID",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID/edit?usp=drivesdk",
          "cachedResultName": "LinkedIn Targets"
        }
      },
      "typeVersion": 4
    },
    {
      "id": "807fea98-fe0c-402e-b59e-102d85ed9dc4",
      "name": "Create Paginated Search Queries",
      "type": "n8n-nodes-base.code",
      "position": [
        -2128,
        1792
      ],
      "parameters": {
        "jsCode": "const results = [];\n\nfor (const item of $input.all()) {\n  const jobTitle = item.json.job_title || '';\n  const company = item.json.company || '';\n  const location = item.json.location || '';\n  const industry = item.json.industry || '';\n\n  if (!jobTitle && !company) continue;\n\n  let query = 'linkedin';\n  if (jobTitle) query += ` \"${jobTitle}\"`;\n  if (company) query += ` \"${company}\"`;\n  if (location) query += ` \"${location}\"`;\n  if (industry) query += ` ${industry}`;\n\n  results.push({\n    json: {\n      query,\n      num: Math.min(parseInt(item.json.num_results) || 10, 10)\n    }\n  });\n}\n\nreturn results;"
      },
      "typeVersion": 2
    },
    {
      "id": "0b933d6b-fc9e-46df-94d9-0dcef1b59420",
      "name": "Filter Search Results",
      "type": "n8n-nodes-base.filter",
      "position": [
        -2352,
        1792
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c89931bd-b5f9-441c-b36d-433846090c5a",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $json.status }}",
              "rightValue": ""
            }
          ]
        }
      },
      "typeVersion": 2.3
    },
    {
      "id": "27ebbb84-fd0b-4f01-8b60-74804d50f65b",
      "name": "Terminate on Error",
      "type": "n8n-nodes-base.stopAndError",
      "position": [
        -1360,
        2016
      ],
      "parameters": {
        "errorMessage": "Error"
      },
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Start": {
      "main": [
        [
          {
            "node": "Get Search Criteria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter New Profiles": {
      "main": [
        [
          {
            "node": "Check for New Profiles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Search Criteria": {
      "main": [
        [
          {
            "node": "Filter Search Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Rate Limit": {
      "main": [
        [
          {
            "node": "Extract Profile Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Profile Data": {
      "main": [
        [
          {
            "node": "Deduplicate Profiles by URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Search Results": {
      "main": [
        [
          {
            "node": "Create Paginated Search Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch Process 50 Pages": {
      "main": [
        [],
        [
          {
            "node": "Post to LinkedIn Search API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for New Profiles": {
      "main": [
        [
          {
            "node": "Append New Profiles to Sheets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Batch Process 50 Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplicate Profiles by URL": {
      "main": [
        [
          {
            "node": "Read Existing Profiles from Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to LinkedIn Search API": {
      "main": [
        [
          {
            "node": "Wait for Rate Limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Terminate on Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append New Profiles to Sheets": {
      "main": [
        [
          {
            "node": "Batch Process 50 Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Paginated Search Queries": {
      "main": [
        [
          {
            "node": "Batch Process 50 Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Existing Profiles from Sheets": {
      "main": [
        [
          {
            "node": "Filter New Profiles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}