workflows/nusquama__n8nworkflows.xyz/公認資格ワークフロー２.json
{
  "id": "2HpBpZwugqjJkzGG",
  "meta": {
    "instanceId": "5ecf4b575865add6be3ad0c0da3400c7fe2f4b7bc221dd128a041f75cbb58ecb",
    "templateCredsSetupCompleted": true
  },
  "name": "公認資格ワークフロー２",
  "tags": [],
  "nodes": [
    {
      "id": "a098fd17-ac8f-4c24-9639-e65da61c8d81",
      "name": "Trigger: Schedule Workflow",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        4624,
        1168
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "typeVersion": 1.3
    },
    {
      "id": "4edeab76-0808-45fd-8979-a49e860bd1bf",
      "name": "Fetch RSS: Roomie Feed",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        4848,
        688
      ],
      "parameters": {
        "url": "https://www.roomie.jp/feed/",
        "options": {}
      },
      "typeVersion": 1.2
    },
    {
      "id": "0d311e18-d8e2-4024-b0e8-8c46737e709a",
      "name": "Merge: Combine All RSS Feeds",
      "type": "n8n-nodes-base.merge",
      "position": [
        5072,
        1104
      ],
      "parameters": {
        "numberInputs": 6
      },
      "typeVersion": 3.2
    },
    {
      "id": "2285efbb-420d-401b-aa5b-3e334affd97c",
      "name": "AI: Rank Articles by Practical Value",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        5968,
        1168
      ],
      "parameters": {
        "text": "=あなたは「仕事術・生産性・効率化」に関する記事を評価するAIです。\n\n以下の記事一覧を評価してください。\n\n【評価の目的】\n\n・幅広い人に役立つ「仕事術・生産性・効率化」の記事を選定する\n・実際に行動に移せる具体性のある記事を優先する\n\n【評価基準】\n\n・多くの人（職種問わず）に当てはまる内容か\n・再現性があるか（誰でも実践できるか）\n・具体的な方法や手順が書かれているか\n・抽象論ではなく、実用的な内容か\n・すぐに行動に移せるか\n・一部の専門職・特殊な環境に依存していないか\n・読んだ後に「何をすればいいか」が明確か\n\n【減点対象】\n\n・精神論・モチベーション論のみの記事\n・抽象的なまとめ記事\n・再現性が低い内容（特定の環境・個人依存）\n・宣伝・広告色が強い記事\n・結論が曖昧で行動に繋がらない記事\n\n【URLに関する重要ルール（追加）】\n\n・linkが以下に該当する場合は必ず除外すること\n\n* example.com を含む\n* URLが存在しない可能性が高いもの\n* 明らかにダミー（article1 など）\n* http/httpsで始まらないもの\n\n・除外した記事は一切出力しない\n\n【スコアルール】\n\n・0〜100点の整数で評価すること\n・50点が平均\n・70点以上で有益\n・80点以上で非常に実用的\n・90点以上で誰でも実践できる優良記事\n\n【重要】\n\n・「具体性」と「再現性」を最重視すること\n・できるだけ多くの人に当てはまる内容を高評価にすること\n・ニッチすぎる内容は評価を下げること\n・URLが正常な記事のみ対象にすること\n\n・必ず指定されたJSON形式で返す\n・配列で返す\n・titleはそのまま使う\n・scoreは必ず0〜100の整数で出す\n・scoreが高い記事から10個のみ出力する\n\n【出力形式】\n\n[\n{\n\"title\": \"記事タイトル\",\n\"link\": \"URL\",\n\"score\": 85,\n\"reason\": \"なぜ評価したか（具体的に）\"\n}\n]\n\n記事一覧:\n\n{{ JSON.stringify($json.articles) }}\n",
        "batching": {},
        "promptType": "define",
        "hasOutputParser": true
      },
      "typeVersion": 1.9
    },
    {
      "id": "3a00bb1b-441c-4d8c-afe4-fac73dd8ff07",
      "name": "Model: Gemini",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        5968,
        1392
      ],
      "parameters": {
        "options": {},
        "modelName": "models/gemini-2.5-flash-lite"
      },
      "credentials": {
        "googlePalmApi": {
          "id": "YTBhsP8l4kGCF1Fh",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "d628d670-f5e6-434e-a242-3a3ada7d99be",
      "name": "Parser: Structured JSON",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        6112,
        1392
      ],
      "parameters": {
        "jsonSchemaExample": "[\n  {\n    \"title\": \"記事タイトル\",\n    \"link\": \"URL\",\n    \"score\": 85,\n    \"reason\": \"理由\"\n  }\n]"
      },
      "typeVersion": 1.3
    },
    {
      "id": "d2d462eb-d87e-440e-bd7a-cc84661109d2",
      "name": "Fetch: Article HTML",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        6768,
        1168
      ],
      "parameters": {
        "url": "={{ $json.link }}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "typeVersion": 4.4
    },
    {
      "id": "047dd732-a9ac-4f4b-ba94-d5af7fdf109d",
      "name": "Format: Slack Message Output",
      "type": "n8n-nodes-base.code",
      "position": [
        7632,
        1024
      ],
      "parameters": {
        "jsCode": "return items.map((item, index) => {\n\n  let data;\n\n  try {\n    data = JSON.parse(item.json.output);\n  } catch (e) {\n    data = item.json;\n  }\n\n  const text = `■ ${index + 1}\n\n${data.link || 'リンクなし'}\n\n【要約】\n${data.summary || 'なし'}\n\n【対象】\n${data.target || 'なし'}\n\n【活用例】\n${data.use_case || 'なし'}\n\n【効果】\n${data.effect || 'なし'}\n`;\n\n  return {\n    json: {\n      text: text,\n      target: data.target || '',\n      use_case: data.use_case || '',\n      effect: data.effect || ''\n    }\n  };\n\n});"
      },
      "typeVersion": 2
    },
    {
      "id": "73ecd2c3-6b80-4144-b381-d572ae877b28",
      "name": "Notify: Send Summary to Slack",
      "type": "n8n-nodes-base.slack",
      "position": [
        7920,
        1024
      ],
      "webhookId": "eeda789f-6dc0-4939-aa74-5ea8ba91ac0e",
      "parameters": {
        "text": "={{ $json.text }}",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": "C0AFRAJ1RTM",
          "cachedResultName": "gmailアラート2"
        },
        "otherOptions": {},
        "authentication": "oAuth2"
      },
      "credentials": {
        "slackOAuth2Api": {
          "id": "2YzlbmE3KS1MfFIZ",
          "name": "Slack account"
        }
      },
      "typeVersion": 2.4
    },
    {
      "id": "dae23d25-03af-492f-8d18-c18d3341f770",
      "name": "AI: Generate Structured Summary",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        7216,
        1168
      ],
      "parameters": {
        "text": "=あなたはデータ整形専用AIです。\n\n以下の入力を分析し、必ず「正しいJSONオブジェクト1個のみ」を返してください。\n\n【最重要ルール】\n・JSON以外の文字を一切書かない\n・説明文を書かない\n・前置き禁止\n・後書き禁止\n・コードブロック禁止\n・```json や ``` を書かない\n・必ず { で始まり } で終わる1つのJSONオブジェクトだけを返す\n・配列で返さない\n・複数オブジェクトで返さない\n・key名は必ず以下と完全一致させる\n・すべてのvalueは文字列にする\n・文字列の値は必ずダブルクォート \" \" で囲む\n・各キーと値の区切りは必ずコロン : を使う\n・各項目の末尾は、最後の項目以外必ずカンマ , を入れる\n・JSONとして構文エラーのない形式で返す\n・改行はしてよいが、必ずJSONとして正しい形式を保つ\n・不明な項目は推測しすぎず、空文字 \"\" を入れる\n\n【key】\n以下の5つ以外のkeyを絶対に出力しないこと\n\nsummary\ntarget\nuse_case\neffect\nlink\n\n【出力形式】\n{\n  \"summary\": \"\",\n  \"target\": \"\",\n  \"use_case\": \"\",\n  \"effect\": \"\",\n  \"link\": \"\",\n}\n\n【内容ルール】\n・summary:\n  記事全体の要点を簡潔にまとめる\n  100〜220文字程度を目安にする\n\n・target:\n  どんな人に向いている内容かをわかりやすく書く\n  30〜120文字程度を目安にする\n\n・use_case:\n  どんな場面で活かせるか、実際の使いどころを書く\n  50〜180文字程度を目安にする\n\n・effect:\n  この記事の内容を実践するとどのような良い変化があるかを具体的に書く\n  必ず200文字以上400文字以下にする\n\n・link:\n  入力のリンクをそのまま入れる\n  省略しない\n\n【文章ルール】\n・日本語で書く\n・簡潔で自然な文章にする\n・不要な誇張表現は禁止\n・抽象的すぎる表現を避ける\n・本文にない内容を作りすぎない\n・改行文字や特殊記号を無理に入れない\n・文字列中にダブルクォート \" を使いたい場合は、JSONとして壊れないように適切にエスケープする\n・出力前に、JSONとして正しいかを必ず自己確認してから返す\n・特に「カンマ抜け」「閉じカッコ抜け」「ダブルクォート抜け」を絶対に起こさないこと\n\n【自己確認チェック】\n返答前に必ず以下を満たしているか確認すること\n1. JSONオブジェクトは1個だけか\n2. keyは6個だけか\n3. すべてのvalueは文字列か\n4. 最後の項目以外にカンマが入っているか\n5. effectは200文字以上400文字以下か\n6. linkは入力リンクをそのまま入れているか\n7. JSON以外の文字を一切含んでいないか\n\n【入力】\nリンク:\n{{ $json.link }}\n\n本文:\n{{ $json.cleanText }}",
        "options": {},
        "promptType": "define",
        "hasOutputParser": true
      },
      "typeVersion": 3.1
    },
    {
      "id": "887c89aa-679b-49ab-bd26-992336acd53a",
      "name": "Model: OpenAI",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        7216,
        1392
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-nano",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {},
        "builtInTools": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "h0smkMgprymECnqW",
          "name": "OpenAi account"
        }
      },
      "typeVersion": 1.3
    },
    {
      "id": "f8b11bce-e559-4583-9299-b051fb5bbe9d",
      "name": "Filter: Articles from Last 24 Hours",
      "type": "n8n-nodes-base.code",
      "position": [
        5296,
        1168
      ],
      "parameters": {
        "jsCode": "// ==============================\n// ① 現在時刻を取得\n// ==============================\nconst now = new Date();\n\n// ==============================\n// ② 24時間（ミリ秒）\n// ==============================\nconst ONE_DAY = 24 * 60 * 60 * 1000;\n\n// ==============================\n// ③ フィルタ処理\n// ==============================\nreturn items.filter(item => {\n\n  // 記事の日時取得（isoDate優先）\n  const dateString = item.json.isoDate || item.json.pubDate;\n\n  // 日付がない場合は除外\n  if (!dateString) return false;\n\n  const articleDate = new Date(dateString);\n\n  // 時間差を計算\n  const diff = now - articleDate;\n\n  // ==============================\n  // ④ 24時間以内だけ残す\n  // ==============================\n  return diff <= ONE_DAY;\n});"
      },
      "typeVersion": 2
    },
    {
      "id": "89de2102-9456-4861-a160-c10df58a4a8e",
      "name": "Aggregate: Build Article Array",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        5744,
        1168
      ],
      "parameters": {
        "options": {},
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "articles"
      },
      "typeVersion": 1
    },
    {
      "id": "4573d563-4da0-4ca4-a063-7d17e35112a9",
      "name": "Split: Top 10 Articles",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        6320,
        1168
      ],
      "parameters": {
        "options": {},
        "fieldToSplitOut": "output"
      },
      "typeVersion": 1
    },
    {
      "id": "e399bd2f-abec-4ae4-96b4-ae649357363a",
      "name": "STEP1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4576,
        592
      ],
      "parameters": {
        "color": 7,
        "width": 640,
        "height": 1224,
        "content": "## STEP1: Data Collection\n\nFetch articles from multiple RSS feeds (Roomie, Lifehacker, and note) and merge them into one list"
      },
      "typeVersion": 1
    },
    {
      "id": "3666a995-35b0-48dd-acc3-c051b1d0b98d",
      "name": "STEP2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5216,
        896
      ],
      "parameters": {
        "color": 7,
        "width": 708,
        "height": 648,
        "content": "## STEP2: Data Filtering & Structuring\nFilter articles within the last 24 hours and transform them into a structured format for AI processing"
      },
      "typeVersion": 1
    },
    {
      "id": "9d4ce466-8129-437f-a748-e08478f23868",
      "name": "STEP3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5920,
        896
      ],
      "parameters": {
        "color": 7,
        "width": 560,
        "height": 648,
        "content": "## STEP3: AI-Based Article Scoring and Selection\n\nEvaluate each article using AI based on practical usefulness, clarity, reproducibility, and actionability.\n\nThe results are ranked and filtered to select the top 10 highly actionable articles.\n\nThe selected articles are then split into individual items for further processing."
      },
      "typeVersion": 1
    },
    {
      "id": "3bd80cf9-3868-4e26-a442-e0b17e331ac3",
      "name": "STEP4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6480,
        896
      ],
      "parameters": {
        "color": 7,
        "width": 672,
        "height": 440,
        "content": "## STEP4: Content Retrieval & Preparation\nPrepare article links, fetch each article HTML, and extract and clean the main text content for further processing"
      },
      "typeVersion": 1
    },
    {
      "id": "8e27a85e-0f49-40d3-9a76-6d0af290f094",
      "name": "STEP5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        7152,
        896
      ],
      "parameters": {
        "color": 7,
        "width": 404,
        "height": 792,
        "content": "## STEP5: AI Article Summarization\nGenerate summary, target, use cases, effect, and link"
      },
      "typeVersion": 1
    },
    {
      "id": "6e5c167d-8e2a-46b8-b394-9dec84288e04",
      "name": "STEP6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        7552,
        896
      ],
      "parameters": {
        "color": 7,
        "width": 740,
        "height": 328,
        "content": "## STEP6: Notification\nFormat the result and send it to Slack"
      },
      "typeVersion": 1
    },
    {
      "id": "d90f7b1b-b78f-471f-a924-dbae373faf90",
      "name": "WORKFLOW OVERVIEW",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3776,
        592
      ],
      "parameters": {
        "width": 800,
        "height": 1352,
        "content": "## AUTOMATE RSS AI SUMMARIZATION WITH SLACK DELIVERY AND TTS AUDIO ARCHIVING\n\n## Who’s it for\nThis workflow is designed to help Japanese-speaking professionals, and learners stay updated with practical productivity and lifehack insights.\n\nIt is especially suitable for those who prefer actionable tips and want to consume content in both text and audio formats.\n\n\n---\n\n## What it does\nThis workflow collects and processes Japanese productivity articles from multiple RSS sources.\n\nIt filters recent articles (last 24 hours), ranks them using AI based on practical value, and selects the top 10.\n\nFor each article, it:\n- Retrieves and cleans the content\n- Generates structured summaries in Japanese\n- Converts summaries into natural voice scripts\n\nAudio files are generated and stored in Google Drive, while summarized text is delivered to Slack as a daily digest.\n\n---\n\n## How it works\n1. Scheduled trigger runs the workflow  \n2. RSS feeds are fetched and merged  \n3. Articles are filtered (last 24 hours)  \n4. AI ranks and selects top 10 articles  \n5. Content is retrieved and cleaned  \n6. AI generates summaries and voice scripts  \n7. Audio is generated and stored in Google Drive  \n8. Text summaries are formatted and sent to Slack  \n\n---\n\n## Requirements\n- Google Gemini API  \n- OpenAI API  \n- Slack OAuth2  \n- (Optional) Google Drive credentials for audio file storage\n- A Slack channel for receiving notifications\n\n---\n\n## How to set up\n- Configure API credentials, set the Slack channel, and activate the workflow.\n- Enable audio generation and connect Google Drive if needed. \n\n---\n\n## How to customize\n- Change RSS sources  \n- Adjust filtering range  \n- Modify AI scoring logic  \n- Customize Slack format  \n- Enable/disable audio  "
      },
      "typeVersion": 1
    },
    {
      "id": "35abbb16-a8b8-4206-8238-a0633e7d63d1",
      "name": "Prepare: Extract Article Link for HTTP",
      "type": "n8n-nodes-base.set",
      "position": [
        6544,
        1168
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "9ca0c4fe-23bc-4e6c-adf5-672be949d2ae",
              "name": "link",
              "type": "string",
              "value": "={{ $json.link }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "ba313ba9-f552-4e04-baa2-a88bf64e3d3c",
      "name": "Transform: Normalize Article Data",
      "type": "n8n-nodes-base.set",
      "position": [
        5520,
        1168
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "7d734121-23b4-43fe-88ef-6a3053d6a3ca",
              "name": "title",
              "type": "string",
              "value": "={{ $json.title }}"
            },
            {
              "id": "f6b9e622-0847-43a6-853e-122ecac79d9d",
              "name": "summary",
              "type": "string",
              "value": "={{ $json.content }}"
            },
            {
              "id": "93fbe759-8c1e-4a08-833c-70f52372da52",
              "name": "link",
              "type": "string",
              "value": "={{ $json.link }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "32635686-b534-4099-b2c8-b389ef9eab1b",
      "name": "Extract: Clean Text from HTML",
      "type": "n8n-nodes-base.code",
      "position": [
        6992,
        1168
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const html = $json.data || '';\n\n// ==============================\n// ① 商品URL抽出（←ここ追加）\n// ==============================\nconst links = [...html.matchAll(/href=\"(https?:\\/\\/[^\"]+)\"/g)]\n  .map(m => m[1]);\n\nconst productUrl = links.find(url =>\n  url.includes('amazon') ||\n  url.includes('rakuten') ||\n  url.includes('store') ||\n  url.includes('shop')\n);\n\n// ==============================\n// ② テキスト抽出（既存処理）\n// ==============================\nlet text = html\n  .replace(/<script[\\s\\S]*?<\\/script>/gi, '')\n  .replace(/<style[\\s\\S]*?<\\/style>/gi, '')\n  .replace(/<[^>]*>/g, '')\n  .replace(/[^ぁ-んァ-ン一-龥a-zA-Z0-9。、！？\\s]/g, '');\n\ntext = text\n  .split('\\n')\n  .map(line => line.trim())\n  .filter(line => line.length > 20)\n  .join('\\n');\n\ntext = text.replace(/\\s+/g, ' ').trim().slice(0, 3000);\n\n// ==============================\n// ③ 出力\n// ==============================\nreturn {\n  json: {\n    link: $('Prepare: Extract Article Link for HTTP').item.json.link,\n    cleanText: text,\n    product_url: productUrl || ''\n  }\n};"
      },
      "typeVersion": 2
    },
    {
      "id": "a7aa1409-4854-429d-97a1-1838f3c080ea",
      "name": "Fetch RSS: Lifehacker Feed",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        4848,
        880
      ],
      "parameters": {
        "url": "https://www.lifehacker.jp/feed/index.xml",
        "options": {}
      },
      "typeVersion": 1.2
    },
    {
      "id": "1733eb1f-7b46-437b-afd0-bfad39b83dbe",
      "name": "AI: Convert to Voice Script",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        7600,
        1376
      ],
      "parameters": {
        "text": "=あなたは朝の情報番組のナレーターです。\n以下の記事整理データを、音声で聞いて理解しやすい自然な日本語に書き換えてください。\n\n【目的】\n・読み上げたときに不自然にならないこと\n・難しい言い回しを避けること\n・1記事あたり150〜250文字程度にすること\n・「この記事では〜」「特に〜な人に向いています」「今日すぐ試すなら〜」のように自然につなぐこと\n・リンクや記号の羅列は読ませないこと\n・音声向けなので箇条書き禁止\n・敬語はやわらかく自然にする\n\n【出力形式】\n{\n  \"radio_text\": \"\"\n}\n\n【入力】\n{{ $json.output }}",
        "batching": {},
        "promptType": "define"
      },
      "typeVersion": 1.9
    },
    {
      "id": "a5d3df40-d30f-427e-a427-bec5708890e7",
      "name": "Generate: Voice Audio (TTS)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        8352,
        1376
      ],
      "parameters": {
        "input": "={{ $json.script }}",
        "options": {
          "response_format": "mp3",
          "binaryPropertyOutput": "audio"
        },
        "resource": "audio"
      },
      "credentials": {
        "openAiApi": {
          "id": "h0smkMgprymECnqW",
          "name": "OpenAi account"
        }
      },
      "typeVersion": 2.1
    },
    {
      "id": "f7eec888-3e82-4c8f-a495-02375261fa94",
      "name": "Upload: Save Audio to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        8528,
        1376
      ],
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "options": {},
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultUrl": "https://drive.google.com/drive",
          "cachedResultName": "/ (Root folder)"
        },
        "inputDataFieldName": "audio"
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Krm0CxTDPUxGYAR5",
          "name": "Google Drive account"
        }
      },
      "typeVersion": 3
    },
    {
      "id": "147eae21-99f4-4d0e-9506-ed343d2029e5",
      "name": "Fetch RSS: Note Work Tips",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        4848,
        1072
      ],
      "parameters": {
        "url": "https://note.com/hashtag/%E4%BB%95%E4%BA%8B%E8%A1%93/rss",
        "options": {}
      },
      "typeVersion": 1.2
    },
    {
      "id": "be9797f1-a322-4371-b1ba-47f4bbd26ce6",
      "name": "Fetch RSS: Note Productivity",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        4848,
        1264
      ],
      "parameters": {
        "url": "https://note.com/hashtag/%E7%94%9F%E7%94%A3%E6%80%A7/rss",
        "options": {}
      },
      "typeVersion": 1.2
    },
    {
      "id": "b635d478-f54d-402b-b6fb-ffae07d8bb54",
      "name": "Fetch RSS: Note Efficiency",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        4848,
        1456
      ],
      "parameters": {
        "url": "https://note.com/hashtag/%E5%8A%B9%E7%8E%87%E5%8C%96/rss",
        "options": {}
      },
      "typeVersion": 1.2
    },
    {
      "id": "17ff9382-a67c-42b2-8bc3-6dd6e64e8f64",
      "name": "Fetch RSS: Note Cost Performance",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        4848,
        1648
      ],
      "parameters": {
        "url": "https://note.com/hashtag/%E3%82%B3%E3%82%B9%E3%83%91%E9%87%8D%E8%A6%96/rss",
        "options": {}
      },
      "typeVersion": 1.2
    },
    {
      "id": "f01bb78c-9341-44e3-a44c-0c99cbea6c13",
      "name": "Aggregate: Collect Voice Script Segments",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        7904,
        1376
      ],
      "parameters": {
        "options": {},
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "text"
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "id": "85aa2f06-9bf4-4293-b2a1-488588cd00a5",
      "name": "Format: Build Final Voice Script",
      "type": "n8n-nodes-base.code",
      "position": [
        8160,
        1376
      ],
      "parameters": {
        "jsCode": "const segments = $input.first().json.text || [];\n\nconst body = segments\n  .map((item, index) => {\n    let raw = item.json || item;\n\n    let text = '';\n\n    try {\n      // ```json を除去\n      const cleaned = raw\n        .replace(/```json/g, '')\n        .replace(/```/g, '')\n        .trim();\n\n      const parsed = JSON.parse(cleaned);\n      text = parsed.radio_text || '';\n    } catch (e) {\n      text = '';\n    }\n\n    return `第${index + 1}件目です。${text}`;\n  })\n  .join('\\n\\n');\n\nconst script = `\nおはようございます。\n\n今日の仕事術・生産性ニュースを、聞きやすくまとめてお届けします。\n\n${body}\n\n以上、今日の注目ニュースでした。\n気になった記事は、あとでSlackのリンクから確認してみてください。\n`.trim();\n\nreturn [\n  {\n    json: {\n      script,\n      date: new Date().toISOString().slice(0, 10),\n    }\n  }\n];"
      },
      "typeVersion": 2
    },
    {
      "id": "ee50558f-b1a2-4046-b0b5-0b11ac92193f",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        7552,
        1216
      ],
      "parameters": {
        "color": 7,
        "width": 544,
        "height": 480,
        "content": "## STEP7: Voice Script Preparation\nConvert summarized articles into voice-friendly text and combine them into a single narration flow."
      },
      "typeVersion": 1
    },
    {
      "id": "d80a84dd-479f-4d15-bdc7-0d77c2ac700f",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        8096,
        1216
      ],
      "parameters": {
        "color": 7,
        "width": 688,
        "height": 480,
        "content": "## STEP8: Audio Generation & Storage\nGenerate audio from the final script and save it to Google Drive for distribution or reuse."
      },
      "typeVersion": 1
    },
    {
      "id": "d3376595-4d3d-4ab9-8882-9731d576eed1",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        7600,
        1552
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-3.5-turbo",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "options": {},
        "builtInTools": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "h0smkMgprymECnqW",
          "name": "OpenAi account"
        }
      },
      "typeVersion": 1.3
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "binaryMode": "separate",
    "executionOrder": "v1"
  },
  "versionId": "0d2f9f05-3fdb-482e-96ca-3cfc1fe91d7d",
  "connections": {
    "Model: Gemini": {
      "ai_languageModel": [
        [
          {
            "node": "AI: Rank Articles by Practical Value",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Model: OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "AI: Generate Structured Summary",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI: Convert to Voice Script",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Fetch: Article HTML": {
      "main": [
        [
          {
            "node": "Extract: Clean Text from HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch RSS: Roomie Feed": {
      "main": [
        [
          {
            "node": "Merge: Combine All RSS Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split: Top 10 Articles": {
      "main": [
        [
          {
            "node": "Prepare: Extract Article Link for HTTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser: Structured JSON": {
      "ai_outputParser": [
        [
          {
            "node": "AI: Rank Articles by Practical Value",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Fetch RSS: Note Work Tips": {
      "main": [
        [
          {
            "node": "Merge: Combine All RSS Feeds",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Fetch RSS: Lifehacker Feed": {
      "main": [
        [
          {
            "node": "Merge: Combine All RSS Feeds",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fetch RSS: Note Efficiency": {
      "main": [
        [
          {
            "node": "Merge: Combine All RSS Feeds",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Trigger: Schedule Workflow": {
      "main": [
        [
          {
            "node": "Fetch RSS: Roomie Feed",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch RSS: Note Work Tips",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch RSS: Lifehacker Feed",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch RSS: Note Productivity",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch RSS: Note Efficiency",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch RSS: Note Cost Performance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI: Convert to Voice Script": {
      "main": [
        [
          {
            "node": "Aggregate: Collect Voice Script Segments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate: Voice Audio (TTS)": {
      "main": [
        [
          {
            "node": "Upload: Save Audio to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch RSS: Note Productivity": {
      "main": [
        [
          {
            "node": "Merge: Combine All RSS Feeds",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Format: Slack Message Output": {
      "main": [
        [
          {
            "node": "Notify: Send Summary to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge: Combine All RSS Feeds": {
      "main": [
        [
          {
            "node": "Filter: Articles from Last 24 Hours",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract: Clean Text from HTML": {
      "main": [
        [
          {
            "node": "AI: Generate Structured Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate: Build Article Array": {
      "main": [
        [
          {
            "node": "AI: Rank Articles by Practical Value",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI: Generate Structured Summary": {
      "main": [
        [
          {
            "node": "AI: Convert to Voice Script",
            "type": "main",
            "index": 0
          },
          {
            "node": "Format: Slack Message Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch RSS: Note Cost Performance": {
      "main": [
        [
          {
            "node": "Merge: Combine All RSS Feeds",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Format: Build Final Voice Script": {
      "main": [
        [
          {
            "node": "Generate: Voice Audio (TTS)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform: Normalize Article Data": {
      "main": [
        [
          {
            "node": "Aggregate: Build Article Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter: Articles from Last 24 Hours": {
      "main": [
        [
          {
            "node": "Transform: Normalize Article Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI: Rank Articles by Practical Value": {
      "main": [
        [
          {
            "node": "Split: Top 10 Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare: Extract Article Link for HTTP": {
      "main": [
        [
          {
            "node": "Fetch: Article HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate: Collect Voice Script Segments": {
      "main": [
        [
          {
            "node": "Format: Build Final Voice Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}