workflows/e/Expired_Listing_Archival_(Template).json
{
  "name": "Expired Listing Archival (Template)",
  "nodes": [
    {
      "id": "de416bd1-9304-508f-af74-6bac4b52cdfb",
      "name": "Action Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "real-estate-expired-listing-archival-action",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "0d2fc42b-be64-5a22-b9b5-03b21e68cf43",
      "name": "Compute Idempotency Key",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "parameters": {
        "jsCode": "// Compute idempotency key for Expired Listing Archival.\nconst items = $input.all();\nreturn items.map((it) => ({ json: { ...it.json, processed: true } }));\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "75e7cd0e-c220-5f25-8360-d2a937247937",
      "name": "Already Processed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"existing\"]}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      }
    },
    {
      "id": "b843620d-4413-5477-aa62-218a6c48f903",
      "name": "Respond Duplicate",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        200
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"duplicate\"}",
        "options": {}
      }
    },
    {
      "id": "15f76920-c236-5a33-8c8d-c24289423312",
      "name": "Apply Action",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        900,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/real-estate-expired-listing-archival/apply",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "placeholder",
              "value": "REPLACE_WITH_YOUR_VALUE"
            }
          ]
        }
      }
    },
    {
      "id": "b817a623-ccd1-57af-9deb-4428b95136dd",
      "name": "Confirm Action",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1120,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/real-estate-expired-listing-archival/confirm",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "placeholder",
              "value": "REPLACE_WITH_YOUR_VALUE"
            }
          ]
        }
      }
    },
    {
      "id": "641721dc-f629-5ae4-b4b9-857c04f5e6c4",
      "name": "Respond Applied",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1340,
        420
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"applied\"}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Action Webhook": {
      "main": [
        [
          {
            "node": "Compute Idempotency Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Idempotency Key": {
      "main": [
        [
          {
            "node": "Already Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Already Processed": {
      "main": [
        [
          {
            "node": "Respond Duplicate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Apply Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Action": {
      "main": [
        [
          {
            "node": "Confirm Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirm Action": {
      "main": [
        [
          {
            "node": "Respond Applied",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "tags": [
    {
      "name": "category:real-estate"
    },
    {
      "name": "pattern:webhook-idempotent-action"
    },
    {
      "name": "expansion-pack-v0"
    }
  ],
  "meta": {
    "templateGenerator": "open-workflow-library-expansion-pack-v0",
    "templateCategory": "real-estate",
    "templatePattern": "webhook-idempotent-action"
  },
  "versionId": "52eb2fde-5888-5c67-b896-921b8c37b2cb",
  "id": "f9262ff3-832b-51be-9fc8-2841a74c5d80"
}