workflows/r/Rating_Survey_Response_Router_(Template).json
{
  "name": "Rating Survey Response Router (Template)",
  "nodes": [
    {
      "id": "49e6bdb3-7c7c-5cb1-88bb-15672d5b071d",
      "name": "Hourly Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      }
    },
    {
      "id": "0075bdc1-eb11-58f5-80c8-c7c91313a716",
      "name": "Fetch Records",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/ai-agents-rating-survey-response-router/list",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": false,
        "bodyParameters": {}
      }
    },
    {
      "id": "8235bb16-8094-5de6-923d-3ec94352b920",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "parameters": {
        "jsCode": "// Aggregate fetched records for Rating Survey Response Router.\nconst items = $input.all();\nreturn items.map((it) => ({ json: { ...it.json, processed: true } }));\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "730014d9-f185-5a85-9316-59d8388819af",
      "name": "Has Results",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        300
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"count\"]}}",
              "operation": "largerEqual"
            }
          ]
        }
      }
    },
    {
      "id": "5bc2adf8-e5df-57d2-a76d-5dc48462e1b6",
      "name": "Notify Channel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1120,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/ai-agents-rating-survey-response-router/notify",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "placeholder",
              "value": "REPLACE_WITH_YOUR_VALUE"
            }
          ]
        }
      }
    },
    {
      "id": "9fbf7e10-8fad-536a-8297-0c38929bf719",
      "name": "No Work",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1120,
        420
      ],
      "parameters": {}
    }
  ],
  "connections": {
    "Hourly Schedule": {
      "main": [
        [
          {
            "node": "Fetch Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Records": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Results": {
      "main": [
        [
          {
            "node": "Has Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Results": {
      "main": [
        [
          {
            "node": "Notify Channel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Work",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "tags": [
    {
      "name": "category:ai-agents"
    },
    {
      "name": "pattern:schedule-fetch-aggregate"
    },
    {
      "name": "expansion-pack-v0"
    }
  ],
  "meta": {
    "templateGenerator": "open-workflow-library-expansion-pack-v0",
    "templateCategory": "ai-agents",
    "templatePattern": "schedule-fetch-aggregate"
  },
  "versionId": "6d218f79-243b-5ebd-902a-8ac0f7f66d96",
  "id": "9b1d50a8-ddc5-5979-a6f0-523d248c0552"
}