workflows/r/Request_Type_Auto-Tagger_(Template).json
{
  "name": "Request Type Auto-Tagger (Template)",
  "nodes": [
    {
      "id": "24279dc2-28db-5223-9785-3baa4a6c7f5c",
      "name": "Score Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "internal-tools-request-type-auto-tagger-score",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "fd462805-5910-5e86-95eb-7a414838cf50",
      "name": "Enrich From Source",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/internal-tools-request-type-auto-tagger/enrich",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": false,
        "bodyParameters": {}
      }
    },
    {
      "id": "ae8e1cf9-61f5-5e89-9239-72f066b2d373",
      "name": "Score Record",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "parameters": {
        "jsCode": "// Score record for Request Type Auto-Tagger.\nconst items = $input.all();\nreturn items.map((it) => ({ json: { ...it.json, processed: true } }));\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "34e89ae7-a34d-5acc-adc1-e25f32fd8248",
      "name": "High Score",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        300
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"score\"]}}",
              "operation": "largerEqual"
            }
          ]
        }
      }
    },
    {
      "id": "58121cdf-933a-50da-8892-d268118c1237",
      "name": "Update High Path",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1120,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/internal-tools-request-type-auto-tagger/route-high",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "placeholder",
              "value": "REPLACE_WITH_YOUR_VALUE"
            }
          ]
        }
      }
    },
    {
      "id": "9a32c43b-0735-542e-9d36-e6147e723039",
      "name": "Update Low Path",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1120,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/internal-tools-request-type-auto-tagger/route-low",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "placeholder",
              "value": "REPLACE_WITH_YOUR_VALUE"
            }
          ]
        }
      }
    },
    {
      "id": "4c940ebf-d753-5ba5-b717-27811dc69384",
      "name": "Merge Paths",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        1340,
        300
      ],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "id": "5c342df6-2ed3-58fd-bb95-d51de7e66702",
      "name": "Respond Done",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1560,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"scored\"}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Score Webhook": {
      "main": [
        [
          {
            "node": "Enrich From Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich From Source": {
      "main": [
        [
          {
            "node": "Score Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Record": {
      "main": [
        [
          {
            "node": "High Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "High Score": {
      "main": [
        [
          {
            "node": "Update High Path",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Low Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update High Path": {
      "main": [
        [
          {
            "node": "Merge Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Low Path": {
      "main": [
        [
          {
            "node": "Merge Paths",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Paths": {
      "main": [
        [
          {
            "node": "Respond Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "tags": [
    {
      "name": "category:internal-tools"
    },
    {
      "name": "pattern:webhook-enrich-score-branch"
    },
    {
      "name": "expansion-pack-v0"
    }
  ],
  "meta": {
    "templateGenerator": "open-workflow-library-expansion-pack-v0",
    "templateCategory": "internal-tools",
    "templatePattern": "webhook-enrich-score-branch"
  },
  "versionId": "316b0520-08c5-5135-a315-17b1371f36de",
  "id": "c3dc76ab-8a70-58f7-af12-2e05ccf3c1de"
}