workflows/l/Latency_Breach_Alert_(Template).json
{
  "name": "Latency Breach Alert (Template)",
  "nodes": [
    {
      "id": "3a87c90e-eb2c-5514-8097-c2649eb0e1f4",
      "name": "Status Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      }
    },
    {
      "id": "7be8d2d8-67d3-5aee-8e51-76907843ddbd",
      "name": "Check Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/ai-agents-latency-breach-alert/status",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": false,
        "bodyParameters": {}
      }
    },
    {
      "id": "87bad4b8-9ff4-5406-9c6c-375dae7675dd",
      "name": "Status OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"status\"]}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      }
    },
    {
      "id": "8f0d9b7d-88a9-588c-9f6a-020049f34974",
      "name": "Healthy",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        900,
        200
      ],
      "parameters": {}
    },
    {
      "id": "1cc39df2-9150-5266-870e-261f1d850aa4",
      "name": "Build Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        900,
        420
      ],
      "parameters": {
        "jsCode": "// Build alert message for Latency Breach Alert.\nconst items = $input.all();\nreturn items.map((it) => ({ json: { ...it.json, processed: true } }));\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "7a8c5626-4c0b-5501-be63-2fa6ccf2f2f9",
      "name": "Send Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1120,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/ai-agents-latency-breach-alert/alert",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "placeholder",
              "value": "REPLACE_WITH_YOUR_VALUE"
            }
          ]
        }
      }
    }
  ],
  "connections": {
    "Status Schedule": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Status OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status OK": {
      "main": [
        [
          {
            "node": "Healthy",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Alert": {
      "main": [
        [
          {
            "node": "Send Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "tags": [
    {
      "name": "category:ai-agents"
    },
    {
      "name": "pattern:schedule-status-alert"
    },
    {
      "name": "expansion-pack-v0"
    }
  ],
  "meta": {
    "templateGenerator": "open-workflow-library-expansion-pack-v0",
    "templateCategory": "ai-agents",
    "templatePattern": "schedule-status-alert"
  },
  "versionId": "e934ccbb-4911-5fa9-b57b-db64d3f0db84",
  "id": "28be026a-bd50-5e5a-8a4c-b371718b7198"
}