workflows/l/LLM_Service_Integration_Health_Probe_(Template).json
{
  "name": "LLM Service Integration Health Probe (Template)",
  "nodes": [
    {
      "id": "28577f06-180d-50bd-82b5-70fa4025a6f4",
      "name": "Form Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-agents-llm-service-integration-health-probe-form",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "6eba3a17-89e4-5d0d-9f71-c7111e3836ea",
      "name": "Normalize Form",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "source",
              "value": "LLM Service Integration Health Probe"
            },
            {
              "name": "input",
              "value": "={{$json[\"body\"]}}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "ef704568-0116-54e0-b7c0-3a1b15d93e53",
      "name": "Required Fields",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"input\"]}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      }
    },
    {
      "id": "1988e026-7fc2-5cad-9e81-b364eb17add8",
      "name": "Create CRM Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        900,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/ai-agents-llm-service-integration-health-probe/crm-create",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "placeholder",
              "value": "REPLACE_WITH_YOUR_VALUE"
            }
          ]
        }
      }
    },
    {
      "id": "8506f53b-e7fa-578b-83d6-c6cc7ee09e4e",
      "name": "Notify Owner",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1120,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/ai-agents-llm-service-integration-health-probe/notify-owner",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "placeholder",
              "value": "REPLACE_WITH_YOUR_VALUE"
            }
          ]
        }
      }
    },
    {
      "id": "9fce4ad8-36ba-5717-8541-20f2aa01d93a",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1340,
        200
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"created\"}",
        "options": {}
      }
    },
    {
      "id": "20fbe316-9c97-56c9-9bb3-e3536478fafe",
      "name": "Respond Missing",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        420
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"missing-fields\"}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Form Webhook": {
      "main": [
        [
          {
            "node": "Normalize Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Form": {
      "main": [
        [
          {
            "node": "Required Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Required Fields": {
      "main": [
        [
          {
            "node": "Create CRM Record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Missing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create CRM Record": {
      "main": [
        [
          {
            "node": "Notify Owner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Owner": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "tags": [
    {
      "name": "category:ai-agents"
    },
    {
      "name": "pattern:webhook-form-crm-create"
    },
    {
      "name": "expansion-pack-v0"
    }
  ],
  "meta": {
    "templateGenerator": "open-workflow-library-expansion-pack-v0",
    "templateCategory": "ai-agents",
    "templatePattern": "webhook-form-crm-create"
  },
  "versionId": "b3e3083e-1a94-55dc-a313-a5018421ebae",
  "id": "1e11aa8b-df59-53ca-8582-d4ce95bf9adc"
}