workflows/c/Contract_Decoder_with_AI_Risk_Scoring.json
{
  "id": "Uxpol9DxKfKqI446",
  "meta": {
    "instanceId": "8d116b92d51947f1f9904dd6d69f8f252af7816f81d50c41f62a5878cbcf4365",
    "templateCredsSetupCompleted": true
  },
  "name": "Contract Decoder with AI Risk Scoring",
  "tags": [],
  "nodes": [
    {
      "id": "5e7fe6a0-2069-4838-8573-a71aa90d3cc9",
      "name": "Security: Upload to VirusTotal",
      "type": "n8n-nodes-base.httpRequest",
      "onError": "continueRegularOutput",
      "position": [
        720,
        400
      ],
      "parameters": {
        "url": "https://www.virustotal.com/api/v3/files",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "contentType": "multipart-form-data",
        "authentication": "predefinedCredentialType",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "parameterType": "formBinaryData",
              "inputDataFieldName": "Upload_Contract__PDF_"
            }
          ]
        },
        "nodeCredentialType": "virusTotalApi"
      },
      "typeVersion": 4.4,
      "extendsCredential": "virusTotalApi"
    },
    {
      "id": "891ee08f-547e-4b3e-8ef7-fc672127b824",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        2928,
        448
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {},
        "builtInTools": {}
      },
      "typeVersion": 1.3
    },
    {
      "id": "cb7dea21-cf6b-4c73-a7e5-464a9364e262",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "position": [
        2576,
        432
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "typeVersion": 1.3
    },
    {
      "id": "04cdd5d8-b25c-4a1e-afdc-3b5de52f8975",
      "name": "README",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "parameters": {
        "width": 400,
        "height": 776,
        "content": "## Contract → Plain English Explainer\n### How it works\n1. **Upload**: User submits PDF contract via web form\n2. **Security**: VirusTotal scans for malware (20s wait)\n3. **Route**: Clean files → analysis, malicious → rejection email\n4. **Extract**: PDF text extracted and truncated to 40k chars\n5. **Agent 1 (Translation)**: AI translates legal jargon to plain English\n6. **Agent 2 (Risk)**: AI calculates 0-100 risk score and identifies red flags\n7. **Compile**: Results merged into structured report\n8. **Deliver**: Professional HTML email sent to user\n\n### Setup steps\n- [ ] Connect Anthropic API (Claude Sonnet 4.5) for translation agent\n- [ ] Connect OpenAI API (GPT-4o Mini) for risk scoring agent\n- [ ] Connect VirusTotal API (free tier: virustotal.com)\n- [ ] Connect Gmail OAuth2 to email nodes\n- [ ] Activate workflow and test with sample PDF\n\n### Customization\n- **Models**: Uses Claude Sonnet 4.5 (translation) + GPT-4o Mini (risk scoring)\n- **Style**: Edit AI prompts to adjust tone (formal vs casual)\n- **Security**: VirusTotal scan wait time (default: 20s)\n- **Email**: Modify HTML template colors and layout\n- **Limits**: Text truncation (default: 40,000 chars)"
      },
      "typeVersion": 1
    },
    {
      "id": "317200b1-7d1a-4659-aea5-b031ebf6c6f9",
      "name": "Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        496,
        304
      ],
      "webhookId": "2a82072f-be33-49a5-9600-906f85ff652d",
      "parameters": {
        "path": "2a82072f-be33-49a5-9600-906f85ff652d",
        "options": {},
        "formTitle": "Contract Plain English Explainer",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Your Name",
              "requiredField": true
            },
            {
              "fieldType": "email",
              "fieldLabel": "Your Email",
              "requiredField": true
            },
            {
              "fieldType": "dropdown",
              "fieldLabel": "Contract Type",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Employment Contract"
                  },
                  {
                    "option": "Freelance/Contractor Agreement"
                  },
                  {
                    "option": "NDA (Non-Disclosure Agreement)"
                  },
                  {
                    "option": "Lease/Rental Agreement"
                  },
                  {
                    "option": "SaaS/Software Agreement"
                  },
                  {
                    "option": "Service Agreement"
                  },
                  {
                    "option": "Terms of Service"
                  },
                  {
                    "option": "Other"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldType": "file",
              "fieldLabel": "Upload Contract (PDF)",
              "requiredField": true,
              "acceptFileTypes": ".pdf"
            }
          ]
        },
        "formDescription": "Upload your contract and get a plain English explanation of what you're agreeing to - no legal jargon."
      },
      "typeVersion": 2.1
    },
    {
      "id": "c23d9da6-16fb-4c82-a1e6-e947c984880c",
      "name": "Security: Get Scan Results",
      "type": "n8n-nodes-base.httpRequest",
      "onError": "continueRegularOutput",
      "position": [
        1168,
        400
      ],
      "parameters": {
        "url": "=https://www.virustotal.com/api/v3/analyses/{{ $json.data.id }}",
        "options": {},
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "virusTotalApi"
      },
      "typeVersion": 4.4,
      "extendsCredential": "virusTotalApi"
    },
    {
      "id": "0087cc9d-afed-4415-aae7-16f08756e785",
      "name": "Form + Security Data",
      "type": "n8n-nodes-base.merge",
      "position": [
        1392,
        320
      ],
      "parameters": {
        "mode": "combine",
        "options": {},
        "combineBy": "combineByPosition"
      },
      "typeVersion": 3.2
    },
    {
      "id": "e1845d7b-748d-49be-a769-67cc048d375b",
      "name": "Clean or Malicious?",
      "type": "n8n-nodes-base.if",
      "position": [
        1616,
        320
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "ef7bcb95-c386-47c4-92ff-d27af76443b8",
              "operator": {
                "type": "number",
                "operation": "equals"
              },
              "leftValue": "={{ $json.data?.attributes?.stats?.malicious || 0 }}",
              "rightValue": 0
            }
          ]
        }
      },
      "typeVersion": 2.3
    },
    {
      "id": "00fb67c2-ec45-452e-9bfb-d6e1f0be4ab9",
      "name": "Malware Rejection",
      "type": "n8n-nodes-base.gmail",
      "position": [
        1904,
        464
      ],
      "webhookId": "aa936ab6-03e9-4b70-a27d-98615067a5ed",
      "parameters": {
        "sendTo": "={{ $('Form + Security Data').item.json[\"Your Email\"] }}",
        "message": "=<div style=\"font-family: 'Segoe UI', Arial, sans-serif; color: #1f2937; max-width: 600px; margin: 0 auto; border: 1px solid #fecdd3; border-radius: 12px; overflow: hidden; background-color: #ffffff;\"><div style=\"background-color: #9f1239; padding: 30px; color: #ffffff; text-align: center;\"><h1 style=\"margin: 0; font-size: 22px; font-weight: 700;\">⚠️ Security Block: Malicious File Detected</h1></div><div style=\"padding: 35px;\"><p style=\"margin-top: 0; font-size: 16px;\">Hello {{ $json['Your Name'] }},</p><p style=\"font-size: 15px; color: #4b5563; line-height: 1.6;\">To protect our infrastructure and your data, our system performs a multi-engine security scan on all uploaded documents. Unfortunately, the file you uploaded (<strong>{{ $('Form Trigger').item.json['Upload Contract (PDF)'][0].filename }}</strong>) was flagged as <strong>malicious</strong> by our security guardrails and has been permanently deleted.</p><div style=\"background-color: #fff1f2; border: 1px solid #fecdd3; border-radius: 8px; padding: 20px; margin: 25px 0;\"><h3 style=\"margin: 0 0 10px 0; color: #9f1239; font-size: 16px;\">Scan Verdict</h3><p style=\"margin: 5px 0; font-size: 14px; color: #be123c;\"><strong>Detected Threats:</strong> {{ $json.data.attributes.stats.malicious }}</p><p style=\"margin: 5px 0; font-size: 14px; color: #be123c;\"><strong>Suspicious Flags:</strong> {{ $json.data.attributes.stats.suspicious }}</p><p style=\"margin: 15px 0 0 0; font-size: 12px; color: #9f1239; font-style: italic;\">Note: This file was blocked before it reached our AI processing or PDF extraction nodes.</p></div><h3 style=\"font-size: 17px; color: #111827;\">What should you do?</h3><ul style=\"padding-left: 20px; font-size: 14px; color: #4b5563; line-height: 1.6;\"><li>Ensure the PDF was created by a trusted source.</li><li>Run a local antivirus scan on your computer.</li><li>If you believe this is a mistake, please try converting the document to a clean PDF and re-uploading.</li></ul><div style=\"margin-top: 40px; text-align: center;\"></div></div><div style=\"background-color: #f9fafb; padding: 20px; border-top: 1px solid #e5e7eb; text-align: center;\"><p style=\"margin: 0; color: #9ca3af; font-size: 11px;\">Secure Contract Analysis provided by n8n Autonomous Frameworks.</p></div></div>",
        "options": {},
        "subject": "=⚠️ Security Alert: Malicious File Detected"
      },
      "typeVersion": 2.2
    },
    {
      "id": "82476919-7a66-46a4-a57f-c20844b8cc24",
      "name": "Extract Form Data",
      "type": "n8n-nodes-base.code",
      "position": [
        1904,
        224
      ],
      "parameters": {
        "jsCode": "// Extract form data and file from merge node, normalize structure for downstream processing\nconst data = $input.first().json;\nconst binaryData = $input.first().binary;\n\nif (!binaryData || Object.keys(binaryData).length === 0) {\n  throw new Error('No file uploaded. Please ensure the form includes a PDF attachment.');\n}\n\nconst firstFileKey = Object.keys(binaryData)[0];\nconst file = binaryData[firstFileKey];\n\nif (!file || !file.fileName) {\n  throw new Error('Invalid file data. Please upload a valid PDF file.');\n}\n\nreturn {\n  json: {\n    name: data['Your Name'] || 'User',\n    email: data['Your Email'] || '',\n    contractType: data['Contract Type'] || 'Unknown',\n    fileName: file.fileName || 'contract.pdf',\n    fileSize: file.fileSize || 0,\n    timestamp: new Date().toISOString()\n  },\n  binary: {\n    data: file\n  }\n};"
      },
      "typeVersion": 2
    },
    {
      "id": "25c62986-7020-4196-af80-c6a8d0c57caf",
      "name": "PDF to Text",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        2128,
        224
      ],
      "parameters": {
        "options": {},
        "operation": "pdf"
      },
      "typeVersion": 1.1
    },
    {
      "id": "080de994-12fc-4f62-a31a-a40efacb25a7",
      "name": "Clean & Truncate Text",
      "type": "n8n-nodes-base.code",
      "position": [
        2352,
        224
      ],
      "parameters": {
        "jsCode": "// Extract PDF text, truncate to 40k chars, and merge with user data for AI analysis\nconst extractedData = $input.first();\nconst userData = $('Extract Form Data').first().json;\nconst text = extractedData.json.text || '';\n\nconst maxChars = 40000;\nconst truncatedText = text.length > maxChars \n  ? text.substring(0, maxChars) + '\\n\\n[Document truncated for analysis]' \n  : text;\n\nconst wordCount = text.split(/\\s+/).length;\nconst pageEstimate = Math.ceil(wordCount / 300);\n\nreturn {\n  json: {\n    name: userData.name,\n    email: userData.email,\n    contractType: userData.contractType,\n    fileName: userData.fileName,\n    fileSize: userData.fileSize,\n    contractText: truncatedText,\n    wordCount: wordCount,\n    estimatedPages: pageEstimate,\n    timestamp: userData.timestamp\n  }\n};"
      },
      "typeVersion": 2
    },
    {
      "id": "71421ddf-bc8e-46a9-aea8-691fcc11cad2",
      "name": "Translate to Plain English",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "onError": "continueRegularOutput",
      "position": [
        2576,
        224
      ],
      "parameters": {
        "text": "====Translate this legal contract into plain English:\n\nContract Type: {{ $('Clean & Truncate Text').first().json.contractType }}\n\nContract Text:\n{{ $('Clean & Truncate Text').first().json.contractText }}\n\nINSTRUCTIONS:\n1. Identify the core parties and the main goal of the agreement.\n2. Translate the 3 most important clauses into simple language (max 20 words per explanation).\n3. Identify specific \"Red Flags\" like hidden fees, long notice periods, or unfair liability.\n4. Output ONLY raw JSON. No conversational filler, no markdown code blocks (```).\n\nJSON STRUCTURE REQUIRED:\n{\n  \"documentTitle\": \"Title\",\n  \"parties\": {\"party1\": \"Name\", \"party2\": \"Name\"},\n  \"summary\": \"2-sentence plain English overview.\",\n  \"sections\": [\n    {\n      \"sectionTitle\": \"Title\",\n      \"plainEnglish\": \"Meaning\",\n      \"riskLevel\": \"low/medium/high\"\n    }\n  ],\n  \"redFlags\": [{\"clause\": \"Name\", \"concern\": \"Why\", \"severity\": \"high\"}],\n  \"keyObligations\": {\"yourObligations\": [], \"theirObligations\": []},\n  \"terminationRights\": \"How to exit\",\n  \"disputeResolution\": \"Process\"\n}",
        "options": {
          "systemMessage": "You are a plain English translator, NOT a lawyer. Translate legal jargon to simple terms. Always include disclaimer that this is educational, not legal advice. Return valid JSON only."
        },
        "promptType": "define"
      },
      "typeVersion": 3.1
    },
    {
      "id": "67d1f2af-17b9-488f-ae28-051a8ae62b88",
      "name": "Calculate Risk Score",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "onError": "continueRegularOutput",
      "position": [
        2928,
        224
      ],
      "parameters": {
        "text": "====Analyze the risk level of this contract:\n\nContract Type: {{ $('Clean & Truncate Text').first().json.contractType }}\n\nContract Text:\n{{ $('Clean & Truncate Text').first().json.contractText }}\n\nINSTRUCTIONS:\n1. Assign a risk score (0-100).\n2. Look for \"trap\" clauses: non-competes, auto-renewals, or one-sided indemnity.\n3. If the text is empty or a blank template, set riskScore to 95 and explain why.\n4. Output ONLY raw JSON. No conversational filler, no markdown code blocks (```).\n\nJSON STRUCTURE REQUIRED:\n{\n  \"overallRiskScore\": 50,\n  \"riskLevel\": \"low/medium/high/critical\",\n  \"riskExplanation\": \"Summary of risk findings.\",\n  \"biggestRisks\": [\"Risk 1\", \"Risk 2\"],\n  \"recommendLawyer\": true,\n  \"lawyerReason\": \"Specific reason for legal review.\"\n}",
        "options": {
          "systemMessage": "You are a risk assessment expert. Evaluate contracts objectively. Always note this is educational analysis, not legal advice. Return valid JSON only."
        },
        "promptType": "define"
      },
      "typeVersion": 3.1
    },
    {
      "id": "ad9bea3c-4c1e-427a-aa2b-f6b79dbf592a",
      "name": "Merge AI Results",
      "type": "n8n-nodes-base.code",
      "position": [
        3280,
        224
      ],
      "parameters": {
        "jsCode": "// Parse AI outputs (translation + risk), assign color-coded risk labels, merge into final report structure\nconst userData = $('Clean & Truncate Text').first().json;\nconst translation = $('Translate to Plain English').first().json;\nconst riskAssessment = $('Calculate Risk Score').first().json;\n\nlet parsedTranslation, parsedRisk;\n\ntry {\n  const tText = translation.output || JSON.stringify(translation);\n  parsedTranslation = JSON.parse(tText.trim().replace(/```json/g, '').replace(/```/g, ''));\n} catch (e) {\n  parsedTranslation = {\n    documentTitle: userData.contractType,\n    summary: \"Analysis unavailable\",\n    sections: [],\n    redFlags: [{clause: \"Analysis failed\", concern: \"Please try again\", severity: \"medium\"}],\n    keyObligations: {yourObligations: [], theirObligations: []}\n  };\n}\n\ntry {\n  const rText = riskAssessment.output || JSON.stringify(riskAssessment);\n  parsedRisk = JSON.parse(rText.trim().replace(/```json/g, '').replace(/```/g, ''));\n} catch (e) {\n  parsedRisk = {\n    overallRiskScore: 50,\n    riskLevel: \"medium\",\n    riskExplanation: \"Analysis unavailable\",\n    biggestRisks: [\"Unable to assess\"],\n    recommendLawyer: true\n  };\n}\n\nconst riskScore = parsedRisk.overallRiskScore || 50;\nlet riskColor, riskLabel;\n\nif (riskScore >= 86) {\n  riskColor = \"#ef4444\";\n  riskLabel = \"CRITICAL RISK\";\n} else if (riskScore >= 61) {\n  riskColor = \"#f97316\";\n  riskLabel = \"HIGH RISK\";\n} else if (riskScore >= 31) {\n  riskColor = \"#f59e0b\";\n  riskLabel = \"MEDIUM RISK\";\n} else {\n  riskColor = \"#10b981\";\n  riskLabel = \"LOW RISK\";\n}\n\nreturn {\n  json: {\n    name: userData.name,\n    email: userData.email,\n    contractType: userData.contractType,\n    documentTitle: parsedTranslation.documentTitle,\n    parties: parsedTranslation.parties || {},\n    summary: parsedTranslation.summary,\n    sections: parsedTranslation.sections || [],\n    redFlags: parsedTranslation.redFlags || [],\n    yourObligations: parsedTranslation.keyObligations?.yourObligations || [],\n    theirObligations: parsedTranslation.keyObligations?.theirObligations || [],\n    terminationRights: parsedTranslation.terminationRights || \"Not specified\",\n    disputeResolution: parsedTranslation.disputeResolution || \"Not specified\",\n    riskScore: riskScore,\n    riskLevel: parsedRisk.riskLevel || \"medium\",\n    riskColor: riskColor,\n    riskLabel: riskLabel,\n    riskExplanation: parsedRisk.riskExplanation,\n    biggestRisks: parsedRisk.biggestRisks || [],\n    recommendLawyer: parsedRisk.recommendLawyer || false,\n    lawyerReason: parsedRisk.lawyerReason || \"\",\n    analyzedAt: new Date().toISOString()\n  }\n};"
      },
      "typeVersion": 2
    },
    {
      "id": "ba97001d-9a4f-4f06-b8d9-4b57656fc570",
      "name": "Send Analysis Report",
      "type": "n8n-nodes-base.gmail",
      "position": [
        3504,
        224
      ],
      "webhookId": "68d8b9cb-2bc6-4dda-959e-044639a54b21",
      "parameters": {
        "sendTo": "={{ $('Merge AI Results').first().json.email }}",
        "message": "=<div style=\"font-family: 'Segoe UI', Arial, sans-serif; color: #1f2937; max-width: 650px; margin: 0 auto; border: 1px solid #e5e7eb; border-radius: 12px; overflow: hidden; background-color: #ffffff;\"><div style=\"background-color: #111827; padding: 30px; color: #ffffff;\"><h1 style=\"margin: 0; font-size: 24px; font-weight: 600;\">Contract Analysis Report</h1><p style=\"margin: 8px 0 0 0; color: #9ca3af; font-size: 14px;\">Document: {{ $json.documentTitle }}<br>Client: {{ $json.name }} • {{ $json.analyzedAt.split('T')[0] }}</p></div><div style=\"padding: 35px;\"><p style=\"margin-top: 0; font-size: 16px;\">Hello {{ $json.name }},</p><p style=\"font-size: 15px; color: #4b5563;\">Our system has finalized the review of your <strong>{{ $json.contractType }}</strong>. We have mapped the legal obligations between <strong>{{ $json.parties?.party1 || \"Party 1\" }}</strong> and <strong>{{ $json.parties?.party2 || \"Party 2\" }}</strong>.</p><div style=\"background-color: #f9fafb; border: 1px solid #e5e7eb; border-radius: 8px; padding: 25px; margin: 30px 0; text-align: center;\"><span style=\"text-transform: uppercase; font-size: 12px; font-weight: 700; color: #6b7280; letter-spacing: 1px;\">Overall Risk Assessment</span><h2 style=\"margin: 10px 0; color: {{ $json.riskColor }}; font-size: 32px; font-weight: 800;\">{{ $json.riskLabel }}</h2><div style=\"background: #e5e7eb; height: 10px; border-radius: 5px; margin: 15px auto; width: 90%; position: relative;\"><div style=\"background: {{ $json.riskColor }}; height: 10px; border-radius: 5px; width: {{ $json.riskScore }}%;\"></div></div><p style=\"margin: 0; font-size: 15px; color: #374151;\">Score: <strong>{{ $json.riskScore }}/100</strong></p><p style=\"margin: 15px 0 0 0; font-size: 14px; color: #6b7280; line-height: 1.5; font-style: italic;\">\"{{ $json.riskExplanation }}\"</p></div><h3 style=\"font-size: 18px; color: #111827; border-bottom: 2px solid #f3f4f6; padding-bottom: 8px; margin-bottom: 15px;\">Executive Summary</h3><p style=\"color: #4b5563; font-size: 15px; margin-bottom: 30px;\">{{ $json.summary }}</p><table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"margin-bottom: 30px;\"><tr><td width=\"50%\" valign=\"top\" style=\"padding-right: 15px;\"><h4 style=\"font-size: 14px; color: #111827; margin-bottom: 10px; text-transform: uppercase;\">Your Obligations</h4><ul style=\"padding-left: 20px; font-size: 14px; color: #4b5563; margin: 0;\">{{ $json.yourObligations.map(o => '<li style=\"margin-bottom: 5px;\">' + o + '</li>').join('') }}</ul></td><td width=\"50%\" valign=\"top\" style=\"padding-left: 15px;\"><h4 style=\"font-size: 14px; color: #111827; margin-bottom: 10px; text-transform: uppercase;\">Their Obligations</h4><ul style=\"padding-left: 20px; font-size: 14px; color: #4b5563; margin: 0;\">{{ $json.theirObligations.map(o => '<li style=\"margin-bottom: 5px;\">' + o + '</li>').join('') }}</ul></td></tr></table><h3 style=\"font-size: 18px; color: #111827; margin-top: 35px; margin-bottom: 15px;\">Critical Red Flags & Placeholders</h3>{{ $json.redFlags.map(flag => '<div style=\"background-color: #fff1f2; border: 1px solid #fecdd3; padding: 15px; border-radius: 6px; margin-bottom: 12px;\"><p style=\"margin: 0; font-size: 15px; color: #9f1239;\"><strong>' + flag.clause + ':</strong> ' + flag.concern + '</p><span style=\"font-size: 11px; text-transform: uppercase; color: #e11d48; font-weight: bold;\">Severity: ' + flag.severity + '</span></div>').join('') }}<h3 style=\"font-size: 18px; color: #111827; margin-top: 35px; margin-bottom: 15px;\">Full Section-by-Section Translation</h3><table role=\"presentation\" width=\"100%\" style=\"border-collapse: collapse; font-size: 14px;\"><tr style=\"background-color: #f9fafb; text-align: left;\"><th style=\"padding: 12px; border: 1px solid #e5e7eb; width: 30%;\">Provision</th><th style=\"padding: 12px; border: 1px solid #e5e7eb;\">Plain English Meaning</th></tr>{{ $json.sections.map(s => '<tr><td style=\"padding: 12px; border: 1px solid #e5e7eb; font-weight: bold; color: #374141;\">' + s.sectionTitle + '</td><td style=\"padding: 12px; border: 1px solid #e5e7eb; color: #4b5563;\">' + s.plainEnglish + '</td></tr>').join('') }}</table><div style=\"margin-top: 40px; padding: 20px; background-color: #fffbeb; border: 1px solid #fef3c7; border-radius: 8px;\"><h4 style=\"margin: 0 0 10px 0; color: #92400e; font-size: 16px;\">Legal Counsel Recommendation</h4><p style=\"margin: 0; font-size: 14px; color: #b45309; line-height: 1.5;\">{{ $json.lawyerReason }}</p></div></div><div style=\"background-color: #f9fafb; padding: 30px; border-top: 1px solid #e5e7eb; text-align: center;\"><p style=\"margin: 0; color: #9ca3af; font-size: 11px; line-height: 1.6;\"><strong>DISCLAIMER:</strong> This analysis is performed by an automated AI system for educational purposes only. It is not legal advice. All documents scanned for malware via VirusTotal.</p></div></div>",
        "options": {},
        "subject": "=Your Contract Analysis: {{ $('Merge AI Results').first().json.riskLabel }}"
      },
      "typeVersion": 2.2
    },
    {
      "id": "7e22cb95-1b34-4d18-a7c4-08d7262c2c2f",
      "name": "Sticky Note Input",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        464,
        144
      ],
      "parameters": {
        "color": 7,
        "width": 1312,
        "height": 432,
        "content": "### INPUT & SECURITY \nUpload → Scan → Route\nForm triggers VirusTotal malware check, \nthen routes clean files to analysis or \nsends rejection email for malicious files."
      },
      "typeVersion": 1
    },
    {
      "id": "c9b355f5-783b-4f81-b95d-160075d140f5",
      "name": "Sticky Note Failure",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1856,
        432
      ],
      "parameters": {
        "color": 7,
        "width": 256,
        "height": 336,
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n### FAILURE PATH\nMalicious File Handler\nSends professional rejection email \nwith scan details when malware detected."
      },
      "typeVersion": 1
    },
    {
      "id": "fb8c9844-fec9-4a9f-a63f-917cf7f4d3f2",
      "name": "Sticky Note Extract",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1856,
        80
      ],
      "parameters": {
        "color": 7,
        "width": 640,
        "height": 320,
        "content": "###  EXTRACT & PREPARE\nParse → Extract → Clean\nValidates form data, extracts PDF text, \ntruncates to 40k chars for AI processing.\n"
      },
      "typeVersion": 1
    },
    {
      "id": "fcdcff02-88b5-4746-8b77-82359d6638a5",
      "name": "Sticky Note AI",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2544,
        80
      ],
      "parameters": {
        "color": 7,
        "width": 656,
        "height": 512,
        "content": "### AI ANALYSIS\nDual-Agent Analysis\nAgent 1: Translates legal jargon to plain English\nAgent 2: Calculates risk score (0-100)\nResults merged into structured report."
      },
      "typeVersion": 1
    },
    {
      "id": "2dd17d32-eecb-4adc-9201-057fa1daba77",
      "name": "Sticky Note Output",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3232,
        80
      ],
      "parameters": {
        "color": 7,
        "width": 464,
        "height": 320,
        "content": "### OUTPUT\nEmail Delivery\nSends professional HTML report with \nrisk visualization, red flags, and \nsection-by-section breakdown."
      },
      "typeVersion": 1
    },
    {
      "id": "603e3c03-8df7-4639-a4af-a133b22833ce",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "position": [
        928,
        400
      ],
      "webhookId": "da1db339-1f23-4053-b1d6-f82eec492da7",
      "parameters": {
        "amount": 20
      },
      "typeVersion": 1.1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "binaryMode": "separate",
    "executionOrder": "v1"
  },
  "versionId": "7b02cf8d-68fd-4f9c-b62c-4804965ee65a",
  "connections": {
    "Wait": {
      "main": [
        [
          {
            "node": "Security: Get Scan Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF to Text": {
      "main": [
        [
          {
            "node": "Clean & Truncate Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form Trigger": {
      "main": [
        [
          {
            "node": "Form + Security Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Security: Upload to VirusTotal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge AI Results": {
      "main": [
        [
          {
            "node": "Send Analysis Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Form Data": {
      "main": [
        [
          {
            "node": "PDF to Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Calculate Risk Score",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Clean or Malicious?": {
      "main": [
        [
          {
            "node": "Extract Form Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Malware Rejection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Translate to Plain English",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Risk Score": {
      "main": [
        [
          {
            "node": "Merge AI Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form + Security Data": {
      "main": [
        [
          {
            "node": "Clean or Malicious?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean & Truncate Text": {
      "main": [
        [
          {
            "node": "Translate to Plain English",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Security: Get Scan Results": {
      "main": [
        [
          {
            "node": "Form + Security Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Translate to Plain English": {
      "main": [
        [
          {
            "node": "Calculate Risk Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Security: Upload to VirusTotal": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}