workflows/c/Course_Survey_Response_Router_(Template).json
{
  "name": "Course Survey Response Router (Template)",
  "nodes": [
    {
      "id": "dc6cbe6b-0c02-5383-a03a-1e19ff00cbaf",
      "name": "Hourly Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      }
    },
    {
      "id": "f36afaf4-875f-597c-a284-8e19f9d3b395",
      "name": "Fetch Records",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/education-course-survey-response-router/list",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": false,
        "bodyParameters": {}
      }
    },
    {
      "id": "c98220a0-5809-595d-b619-808770c7190b",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "parameters": {
        "jsCode": "// Aggregate fetched records for Course Survey Response Router.\nconst items = $input.all();\nreturn items.map((it) => ({ json: { ...it.json, processed: true } }));\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "d6e7e046-4b42-5d9c-b8ad-178504fbfad8",
      "name": "Has Results",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        300
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"count\"]}}",
              "operation": "largerEqual"
            }
          ]
        }
      }
    },
    {
      "id": "d0203168-9857-538e-a3ee-e6d665eca550",
      "name": "Notify Channel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1120,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/education-course-survey-response-router/notify",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "placeholder",
              "value": "REPLACE_WITH_YOUR_VALUE"
            }
          ]
        }
      }
    },
    {
      "id": "d664bd4a-b2ab-5ff9-9e43-aa2ecb46dbe9",
      "name": "No Work",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1120,
        420
      ],
      "parameters": {}
    }
  ],
  "connections": {
    "Hourly Schedule": {
      "main": [
        [
          {
            "node": "Fetch Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Records": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Results": {
      "main": [
        [
          {
            "node": "Has Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Results": {
      "main": [
        [
          {
            "node": "Notify Channel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Work",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "tags": [
    {
      "name": "category:education"
    },
    {
      "name": "pattern:schedule-fetch-aggregate"
    },
    {
      "name": "expansion-pack-v0"
    }
  ],
  "meta": {
    "templateGenerator": "open-workflow-library-expansion-pack-v0",
    "templateCategory": "education",
    "templatePattern": "schedule-fetch-aggregate"
  },
  "versionId": "20d5b64b-3a2a-5b9f-9391-ce2241150b3b",
  "id": "2453a725-a47b-5113-bf30-1a4ae9d3d6c3"
}