workflows/oxbshw__ultimate-n8n-ai-workflows/Abandoned_Cart_Follow-Up_(Template).json
{
  "name": "Abandoned Cart Follow-Up (Template)",
  "nodes": [
    {
      "id": "2e62c73f-b708-5905-a8e5-06e30ca7adc9",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      }
    },
    {
      "id": "f088061a-b0b4-5199-87e2-9933be77f08f",
      "name": "List Items",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/marketing-abandoned-cart-follow-up/list",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": false,
        "bodyParameters": {}
      }
    },
    {
      "id": "dae3f116-af3d-594c-9b19-5b235266c4b7",
      "name": "Filter And Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "parameters": {
        "jsCode": "// Filter and format digest for Abandoned Cart Follow-Up.\nconst items = $input.all();\nreturn items.map((it) => ({ json: { ...it.json, processed: true } }));\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "f22884a8-fa9d-58ca-8239-979aec65b21f",
      "name": "Non Empty",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        300
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"items\"]}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      }
    },
    {
      "id": "ff0b0bd5-8b1b-5b64-a615-6dd44cc483cf",
      "name": "Send Digest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1120,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/marketing-abandoned-cart-follow-up/send-digest",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "placeholder",
              "value": "REPLACE_WITH_YOUR_VALUE"
            }
          ]
        }
      }
    },
    {
      "id": "dcf931d4-6b59-58d0-971d-245a868c6ca5",
      "name": "Nothing To Send",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1120,
        420
      ],
      "parameters": {}
    }
  ],
  "connections": {
    "Daily Schedule": {
      "main": [
        [
          {
            "node": "List Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Items": {
      "main": [
        [
          {
            "node": "Filter And Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter And Format": {
      "main": [
        [
          {
            "node": "Non Empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Non Empty": {
      "main": [
        [
          {
            "node": "Send Digest",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nothing To Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "tags": [
    {
      "name": "category:marketing"
    },
    {
      "name": "pattern:schedule-digest-format"
    },
    {
      "name": "expansion-pack-v0"
    }
  ],
  "meta": {
    "templateGenerator": "open-workflow-library-expansion-pack-v0",
    "templateCategory": "marketing",
    "templatePattern": "schedule-digest-format"
  },
  "versionId": "30f19b19-18d8-5e46-a387-ddf84e2d55e6",
  "id": "60b003cd-8abb-59dc-82b5-878c2cd8ce7c"
}