workflows/oxbshw__ultimate-n8n-ai-workflows/Appointment_Reminder_Follow-Up_(Template).json
{
  "name": "Appointment Reminder Follow-Up (Template)",
  "nodes": [
    {
      "id": "42526601-aa52-579f-873f-52fd141b7c5a",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      }
    },
    {
      "id": "04f1c818-8513-59ed-b743-931da4dd7744",
      "name": "List Items",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/healthcare-admin-appointment-reminder-followup/list",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": false,
        "bodyParameters": {}
      }
    },
    {
      "id": "bfb6191f-bdba-5bb9-a057-c3b65cb80fcc",
      "name": "Filter And Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "parameters": {
        "jsCode": "// Filter and format digest for Appointment Reminder Follow-Up.\nconst items = $input.all();\nreturn items.map((it) => ({ json: { ...it.json, processed: true } }));\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "de82a40e-50af-5c95-a437-126fee9e8193",
      "name": "Non Empty",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        300
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"items\"]}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      }
    },
    {
      "id": "25846d21-1dc7-5fa5-8450-61b31faf9289",
      "name": "Send Digest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1120,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/healthcare-admin-appointment-reminder-followup/send-digest",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "placeholder",
              "value": "REPLACE_WITH_YOUR_VALUE"
            }
          ]
        }
      }
    },
    {
      "id": "7b274efb-d5fa-5332-83c9-d07bfd9a1467",
      "name": "Nothing To Send",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1120,
        420
      ],
      "parameters": {}
    }
  ],
  "connections": {
    "Daily Schedule": {
      "main": [
        [
          {
            "node": "List Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Items": {
      "main": [
        [
          {
            "node": "Filter And Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter And Format": {
      "main": [
        [
          {
            "node": "Non Empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Non Empty": {
      "main": [
        [
          {
            "node": "Send Digest",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nothing To Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "tags": [
    {
      "name": "category:healthcare-admin"
    },
    {
      "name": "pattern:schedule-digest-format"
    },
    {
      "name": "expansion-pack-v0"
    }
  ],
  "meta": {
    "templateGenerator": "open-workflow-library-expansion-pack-v0",
    "templateCategory": "healthcare-admin",
    "templatePattern": "schedule-digest-format"
  },
  "versionId": "6114d4dd-837e-5542-a6c0-95212ecbf23e",
  "id": "4673f547-adfb-5c94-b78c-59ed18011195"
}