workflows/oxbshw__ultimate-n8n-ai-workflows/Closed_Account_Archival_(Template).json
{
  "name": "Closed Account Archival (Template)",
  "nodes": [
    {
      "id": "8e6fb091-29b7-5f0f-b19e-a164529dc455",
      "name": "Action Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "finance-admin-closed-account-archival-action",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "64b78197-4702-5e54-abbe-87b8d7f9a006",
      "name": "Compute Idempotency Key",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "parameters": {
        "jsCode": "// Compute idempotency key for Closed Account Archival.\nconst items = $input.all();\nreturn items.map((it) => ({ json: { ...it.json, processed: true } }));\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "01ec663d-c70e-51d3-9132-cdbc9a159e4a",
      "name": "Already Processed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"existing\"]}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      }
    },
    {
      "id": "d16ed693-9628-58b4-ae17-d0932d026cb6",
      "name": "Respond Duplicate",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        200
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"duplicate\"}",
        "options": {}
      }
    },
    {
      "id": "04fe1a67-544d-5e0e-9675-63afb26fad0f",
      "name": "Apply Action",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        900,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/finance-admin-closed-account-archival/apply",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "placeholder",
              "value": "REPLACE_WITH_YOUR_VALUE"
            }
          ]
        }
      }
    },
    {
      "id": "dfe9878f-c7fe-5cab-a772-b79dff432823",
      "name": "Confirm Action",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1120,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/finance-admin-closed-account-archival/confirm",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "placeholder",
              "value": "REPLACE_WITH_YOUR_VALUE"
            }
          ]
        }
      }
    },
    {
      "id": "e6b98425-49aa-53a7-a4cf-81006cdc78a7",
      "name": "Respond Applied",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1340,
        420
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"applied\"}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Action Webhook": {
      "main": [
        [
          {
            "node": "Compute Idempotency Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Idempotency Key": {
      "main": [
        [
          {
            "node": "Already Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Already Processed": {
      "main": [
        [
          {
            "node": "Respond Duplicate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Apply Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Action": {
      "main": [
        [
          {
            "node": "Confirm Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirm Action": {
      "main": [
        [
          {
            "node": "Respond Applied",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "tags": [
    {
      "name": "category:finance-admin"
    },
    {
      "name": "pattern:webhook-idempotent-action"
    },
    {
      "name": "expansion-pack-v0"
    }
  ],
  "meta": {
    "templateGenerator": "open-workflow-library-expansion-pack-v0",
    "templateCategory": "finance-admin",
    "templatePattern": "webhook-idempotent-action"
  },
  "versionId": "86a3a483-e5dd-5eec-954e-e58574237760",
  "id": "5281fa4a-d484-5bfb-9002-784049a44142"
}