workflows/oxbshw__ultimate-n8n-ai-workflows/Course_Roster_Sync_To_Spreadsheet_(Template).json
{
  "name": "Course Roster Sync To Spreadsheet (Template)",
  "nodes": [
    {
      "id": "2de29e6a-9ba3-544a-ab99-029696cfaeff",
      "name": "Score Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "education-course-roster-sync-to-spreadsheet-score",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "c1ccca84-853b-5f71-b3fc-1dc67b89855c",
      "name": "Enrich From Source",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/education-course-roster-sync-to-spreadsheet/enrich",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": false,
        "bodyParameters": {}
      }
    },
    {
      "id": "62a4417b-1d12-5bf6-b93d-e565439732bb",
      "name": "Score Record",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "parameters": {
        "jsCode": "// Score record for Course Roster Sync To Spreadsheet.\nconst items = $input.all();\nreturn items.map((it) => ({ json: { ...it.json, processed: true } }));\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "cb4405df-bffc-5325-b727-ca572b6713b7",
      "name": "High Score",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        300
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"score\"]}}",
              "operation": "largerEqual"
            }
          ]
        }
      }
    },
    {
      "id": "0f0b3746-1e90-5752-9046-701c05f2d1e6",
      "name": "Update High Path",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1120,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/education-course-roster-sync-to-spreadsheet/route-high",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "placeholder",
              "value": "REPLACE_WITH_YOUR_VALUE"
            }
          ]
        }
      }
    },
    {
      "id": "4d22fb67-2208-5afe-aa99-ec0468c9a381",
      "name": "Update Low Path",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1120,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/education-course-roster-sync-to-spreadsheet/route-low",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "placeholder",
              "value": "REPLACE_WITH_YOUR_VALUE"
            }
          ]
        }
      }
    },
    {
      "id": "e814e840-7371-5681-a41c-291438c628b4",
      "name": "Merge Paths",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        1340,
        300
      ],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "id": "5a3c6090-69ff-5582-b8df-7c3bced7f79b",
      "name": "Respond Done",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1560,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"scored\"}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Score Webhook": {
      "main": [
        [
          {
            "node": "Enrich From Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich From Source": {
      "main": [
        [
          {
            "node": "Score Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Record": {
      "main": [
        [
          {
            "node": "High Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "High Score": {
      "main": [
        [
          {
            "node": "Update High Path",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Low Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update High Path": {
      "main": [
        [
          {
            "node": "Merge Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Low Path": {
      "main": [
        [
          {
            "node": "Merge Paths",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Paths": {
      "main": [
        [
          {
            "node": "Respond Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "tags": [
    {
      "name": "category:education"
    },
    {
      "name": "pattern:webhook-enrich-score-branch"
    },
    {
      "name": "expansion-pack-v0"
    }
  ],
  "meta": {
    "templateGenerator": "open-workflow-library-expansion-pack-v0",
    "templateCategory": "education",
    "templatePattern": "webhook-enrich-score-branch"
  },
  "versionId": "ed700c7c-6bc1-558c-8858-d1bca583d259",
  "id": "ffa4a499-bebd-5854-846c-4fb9d0e614ce"
}