workflows/oxbshw__ultimate-n8n-ai-workflows/Deploy_Request_Form_Processor_(Template).json
{
  "name": "Deploy Request Form Processor (Template)",
  "nodes": [
    {
      "id": "5a633128-e319-5c48-a0f6-0b8a610a98ea",
      "name": "Action Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "devops-deploy-request-form-processor-action",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "32ede140-0745-549d-93fe-6f87bdcea37f",
      "name": "Compute Idempotency Key",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "parameters": {
        "jsCode": "// Compute idempotency key for Deploy Request Form Processor.\nconst items = $input.all();\nreturn items.map((it) => ({ json: { ...it.json, processed: true } }));\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "f6d22231-fea1-520f-b350-21c0765a0992",
      "name": "Already Processed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"existing\"]}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      }
    },
    {
      "id": "256bed8e-0f1d-555f-8133-c18d58ba6b68",
      "name": "Respond Duplicate",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        200
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"duplicate\"}",
        "options": {}
      }
    },
    {
      "id": "5aacb371-e3ad-5c2c-b1f6-62e5e21365c4",
      "name": "Apply Action",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        900,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/devops-deploy-request-form-processor/apply",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "placeholder",
              "value": "REPLACE_WITH_YOUR_VALUE"
            }
          ]
        }
      }
    },
    {
      "id": "4062544e-d25a-57ab-9b75-c04578a74326",
      "name": "Confirm Action",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1120,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/devops-deploy-request-form-processor/confirm",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "placeholder",
              "value": "REPLACE_WITH_YOUR_VALUE"
            }
          ]
        }
      }
    },
    {
      "id": "8acde0d9-1002-525e-b9cb-30817a441055",
      "name": "Respond Applied",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1340,
        420
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"applied\"}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Action Webhook": {
      "main": [
        [
          {
            "node": "Compute Idempotency Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Idempotency Key": {
      "main": [
        [
          {
            "node": "Already Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Already Processed": {
      "main": [
        [
          {
            "node": "Respond Duplicate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Apply Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Action": {
      "main": [
        [
          {
            "node": "Confirm Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirm Action": {
      "main": [
        [
          {
            "node": "Respond Applied",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "tags": [
    {
      "name": "category:devops"
    },
    {
      "name": "pattern:webhook-idempotent-action"
    },
    {
      "name": "expansion-pack-v0"
    }
  ],
  "meta": {
    "templateGenerator": "open-workflow-library-expansion-pack-v0",
    "templateCategory": "devops",
    "templatePattern": "webhook-idempotent-action"
  },
  "versionId": "d67cf2af-c5ef-5b3f-a804-0737ac15e2f8",
  "id": "44d9285a-83c1-5784-b1aa-3158d7e5b798"
}