workflows/oxbshw__ultimate-n8n-ai-workflows/Draft_from_prompt__Create_a_workflow_that_checks_support_tickets_every_morning,.json
{
  "name": "Draft from prompt: Create a workflow that checks support tickets every morning,",
  "nodes": [
    {
      "id": "98997971-b8ec-533f-bcda-5a99beab316b",
      "name": "Safety Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        80
      ],
      "parameters": {
        "content": "Generated by Open Workflow Library prompt-to-n8n MVP. Static validation only — not behaviourally tested. All URLs and credentials are placeholders. Replace before running.",
        "height": 160,
        "width": 520
      }
    },
    {
      "id": "32b9df07-3470-5d19-bc0e-6f59f2feff3e",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      }
    },
    {
      "id": "9cd549d6-6bb9-51e4-ae08-e9dc8da4a536",
      "name": "Create Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.invalid/create-record",
        "authentication": "none",
        "sendBody": false,
        "options": {
          "timeout": 30000
        },
        "bodyParameters": {
          "parameters": [
            {
              "name": "placeholder",
              "value": "REPLACE_WITH_YOUR_VALUE"
            }
          ]
        }
      }
    },
    {
      "id": "3fc36529-d799-554c-b8a9-914d3c27862a",
      "name": "Summarize Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Placeholder code node. Review before running.\n// Replace this with the real logic. Do not paste secrets here.\nconst items = $input.all();\nreturn items.map((it) => ({ json: { ...it.json, processed: true } }));\n"
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Create Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Record": {
      "main": [
        [
          {
            "node": "Summarize Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "tags": [
    {
      "name": "runtime-proof-v1"
    },
    {
      "name": "static-validation-only"
    },
    {
      "name": "generated-from-ir"
    },
    {
      "name": "category:customer-support"
    },
    {
      "name": "prompt-to-ir-mvp"
    },
    {
      "name": "draft"
    }
  ],
  "meta": {
    "generator": "open-workflow-library-prompt-to-n8n-mvp",
    "generatedAt": "2026-05-24T00:48:34Z",
    "sourceIrId": "01731d1d-bde4-5aea-a9f2-e59b5ec42a02",
    "behaviourallyValidated": false,
    "staticValidationOnly": true
  },
  "versionId": "84c722e6-c8cc-5816-aa91-7660073b393c",
  "id": "d3ef2e09-5490-5795-8dd4-1512df8df6d0"
}