workflows/oxbshw__ultimate-n8n-ai-workflows/Family_Follow-Up_Reminder_(Template).json
{
  "name": "Family Follow-Up Reminder (Template)",
  "nodes": [
    {
      "id": "3ed9e0a4-872d-556d-aa2c-345d048176c9",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      }
    },
    {
      "id": "e0f98abe-a022-53c1-acc9-c1e2fe2e508c",
      "name": "List Items",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/homecare-admin-family-followup-reminder/list",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": false,
        "bodyParameters": {}
      }
    },
    {
      "id": "feb34d27-f67f-5146-a076-aac93b14e7a9",
      "name": "Filter And Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "parameters": {
        "jsCode": "// Filter and format digest for Family Follow-Up Reminder.\nconst items = $input.all();\nreturn items.map((it) => ({ json: { ...it.json, processed: true } }));\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "4df99384-5cc8-5087-973f-298d983765a6",
      "name": "Non Empty",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        300
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"items\"]}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      }
    },
    {
      "id": "b1346526-09e6-59e4-b065-0c251ce4bf6d",
      "name": "Send Digest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1120,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/homecare-admin-family-followup-reminder/send-digest",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "placeholder",
              "value": "REPLACE_WITH_YOUR_VALUE"
            }
          ]
        }
      }
    },
    {
      "id": "006c4a3d-8eb7-5a66-a06c-730718b08291",
      "name": "Nothing To Send",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1120,
        420
      ],
      "parameters": {}
    }
  ],
  "connections": {
    "Daily Schedule": {
      "main": [
        [
          {
            "node": "List Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Items": {
      "main": [
        [
          {
            "node": "Filter And Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter And Format": {
      "main": [
        [
          {
            "node": "Non Empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Non Empty": {
      "main": [
        [
          {
            "node": "Send Digest",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nothing To Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "tags": [
    {
      "name": "category:homecare-admin"
    },
    {
      "name": "pattern:schedule-digest-format"
    },
    {
      "name": "expansion-pack-v0"
    }
  ],
  "meta": {
    "templateGenerator": "open-workflow-library-expansion-pack-v0",
    "templateCategory": "homecare-admin",
    "templatePattern": "schedule-digest-format"
  },
  "versionId": "1302bc5a-9272-5097-8b7e-76b639807e33",
  "id": "ae049ce6-d4cb-54b5-ac97-d44c5ba6beb0"
}