workflows/oxbshw__ultimate-n8n-ai-workflows/Filing_SLA_Breach_Alert_(Template).json
{
  "name": "Filing SLA Breach Alert (Template)",
  "nodes": [
    {
      "id": "8b033489-e488-5a4c-a335-cdb6b59d0bfe",
      "name": "Status Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      }
    },
    {
      "id": "0f9e3f26-db17-5a64-a23b-abb60e62f43d",
      "name": "Check Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/legal-admin-filing-sla-breach-alert/status",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": false,
        "bodyParameters": {}
      }
    },
    {
      "id": "905ff623-1630-56e9-8216-25603139943c",
      "name": "Status OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"status\"]}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      }
    },
    {
      "id": "555572e2-4384-5b9c-b6bb-c234e51adb8b",
      "name": "Healthy",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        900,
        200
      ],
      "parameters": {}
    },
    {
      "id": "8a843e7b-4615-589a-8b34-169c6d36bfdc",
      "name": "Build Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        900,
        420
      ],
      "parameters": {
        "jsCode": "// Build alert message for Filing SLA Breach Alert.\nconst items = $input.all();\nreturn items.map((it) => ({ json: { ...it.json, processed: true } }));\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "021919f9-55df-5d51-b16e-b53ceea9e6ac",
      "name": "Send Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1120,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/legal-admin-filing-sla-breach-alert/alert",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "placeholder",
              "value": "REPLACE_WITH_YOUR_VALUE"
            }
          ]
        }
      }
    }
  ],
  "connections": {
    "Status Schedule": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Status OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status OK": {
      "main": [
        [
          {
            "node": "Healthy",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Alert": {
      "main": [
        [
          {
            "node": "Send Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "tags": [
    {
      "name": "category:legal-admin"
    },
    {
      "name": "pattern:schedule-status-alert"
    },
    {
      "name": "expansion-pack-v0"
    }
  ],
  "meta": {
    "templateGenerator": "open-workflow-library-expansion-pack-v0",
    "templateCategory": "legal-admin",
    "templatePattern": "schedule-status-alert"
  },
  "versionId": "3ba96fd4-80e0-54c0-af05-55900485b0fb",
  "id": "e12ca6ef-70a7-510f-bd35-ffa31ecc70f6"
}