workflows/oxbshw__ultimate-n8n-ai-workflows/Intent_Auto-Tagger_(Template).json
{
  "name": "Intent Auto-Tagger (Template)",
  "nodes": [
    {
      "id": "8e984099-ca56-5f10-9f55-7492f563d1f9",
      "name": "Score Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-agents-intent-auto-tagger-score",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "03b90f18-01c4-5796-a38c-f76848523bb9",
      "name": "Enrich From Source",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/ai-agents-intent-auto-tagger/enrich",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": false,
        "bodyParameters": {}
      }
    },
    {
      "id": "eea20894-7eae-5ae4-8317-923552275c2d",
      "name": "Score Record",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "parameters": {
        "jsCode": "// Score record for Intent Auto-Tagger.\nconst items = $input.all();\nreturn items.map((it) => ({ json: { ...it.json, processed: true } }));\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "fac95f47-90ef-5641-9c33-db561d7b441a",
      "name": "High Score",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        300
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"score\"]}}",
              "operation": "largerEqual"
            }
          ]
        }
      }
    },
    {
      "id": "21d066a8-181a-545e-9faa-6d7f02bc4d46",
      "name": "Update High Path",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1120,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/ai-agents-intent-auto-tagger/route-high",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "placeholder",
              "value": "REPLACE_WITH_YOUR_VALUE"
            }
          ]
        }
      }
    },
    {
      "id": "0284d76d-111d-5af9-9b6c-a62692d1b122",
      "name": "Update Low Path",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1120,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/ai-agents-intent-auto-tagger/route-low",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "placeholder",
              "value": "REPLACE_WITH_YOUR_VALUE"
            }
          ]
        }
      }
    },
    {
      "id": "8797d9ee-9598-54fa-8d70-0b26b1c36ec8",
      "name": "Merge Paths",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        1340,
        300
      ],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "id": "7932ce20-0595-511c-a7f9-988b50606019",
      "name": "Respond Done",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1560,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"scored\"}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Score Webhook": {
      "main": [
        [
          {
            "node": "Enrich From Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich From Source": {
      "main": [
        [
          {
            "node": "Score Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Record": {
      "main": [
        [
          {
            "node": "High Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "High Score": {
      "main": [
        [
          {
            "node": "Update High Path",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Low Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update High Path": {
      "main": [
        [
          {
            "node": "Merge Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Low Path": {
      "main": [
        [
          {
            "node": "Merge Paths",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Paths": {
      "main": [
        [
          {
            "node": "Respond Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "tags": [
    {
      "name": "category:ai-agents"
    },
    {
      "name": "pattern:webhook-enrich-score-branch"
    },
    {
      "name": "expansion-pack-v0"
    }
  ],
  "meta": {
    "templateGenerator": "open-workflow-library-expansion-pack-v0",
    "templateCategory": "ai-agents",
    "templatePattern": "webhook-enrich-score-branch"
  },
  "versionId": "c9e30474-3312-544c-8e20-cf3c1db09aa7",
  "id": "510db023-4a9d-583c-bd58-dbc7c38277b0"
}