workflows/oxbshw__ultimate-n8n-ai-workflows/Marketing_Stack_Health_Probe_(Template).json
{
  "name": "Marketing Stack Health Probe (Template)",
  "nodes": [
    {
      "id": "57d08a8a-3806-5308-954c-c60322106676",
      "name": "Form Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "marketing-marketing-stack-health-probe-form",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "3f9f9e18-ea77-506b-ba82-3e522b465202",
      "name": "Normalize Form",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "source",
              "value": "Marketing Stack Health Probe"
            },
            {
              "name": "input",
              "value": "={{$json[\"body\"]}}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "eee22928-b5ba-54c7-b2e7-885bc65d655a",
      "name": "Required Fields",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"input\"]}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      }
    },
    {
      "id": "1ec62f0a-e1d6-54fc-bc47-d1b92fec9aa1",
      "name": "Create CRM Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        900,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/marketing-marketing-stack-health-probe/crm-create",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "placeholder",
              "value": "REPLACE_WITH_YOUR_VALUE"
            }
          ]
        }
      }
    },
    {
      "id": "a07b8323-105f-5dc1-8e08-26abaa57d772",
      "name": "Notify Owner",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1120,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/marketing-marketing-stack-health-probe/notify-owner",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "placeholder",
              "value": "REPLACE_WITH_YOUR_VALUE"
            }
          ]
        }
      }
    },
    {
      "id": "7b67e5e6-77ae-59d7-9a3e-d7c1c0092ef5",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1340,
        200
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"created\"}",
        "options": {}
      }
    },
    {
      "id": "df0d1b76-3b12-5079-b2f1-8f58f289c7d2",
      "name": "Respond Missing",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        420
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"missing-fields\"}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Form Webhook": {
      "main": [
        [
          {
            "node": "Normalize Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Form": {
      "main": [
        [
          {
            "node": "Required Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Required Fields": {
      "main": [
        [
          {
            "node": "Create CRM Record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Missing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create CRM Record": {
      "main": [
        [
          {
            "node": "Notify Owner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Owner": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "tags": [
    {
      "name": "category:marketing"
    },
    {
      "name": "pattern:webhook-form-crm-create"
    },
    {
      "name": "expansion-pack-v0"
    }
  ],
  "meta": {
    "templateGenerator": "open-workflow-library-expansion-pack-v0",
    "templateCategory": "marketing",
    "templatePattern": "webhook-form-crm-create"
  },
  "versionId": "e045a0ea-ff35-5fb3-a3ef-2c7389dd9ecf",
  "id": "287794d1-d7d7-5f5f-a3bb-284f77104b4e"
}