workflows/oxbshw__ultimate-n8n-ai-workflows/Milestone_SLA_Breach_Alert_(Template).json
{
  "name": "Milestone SLA Breach Alert (Template)",
  "nodes": [
    {
      "id": "9f709f5f-cc9e-5e28-be77-ee0d0df536e1",
      "name": "Status Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      }
    },
    {
      "id": "dd37fa35-34be-5635-b7bc-18265920b5d9",
      "name": "Check Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/project-management-milestone-sla-breach-alert/status",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": false,
        "bodyParameters": {}
      }
    },
    {
      "id": "31cb92f8-4834-5906-8623-f450d6c87a18",
      "name": "Status OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"status\"]}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      }
    },
    {
      "id": "dcb1137f-f3ef-554b-9fac-0a4e08767323",
      "name": "Healthy",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        900,
        200
      ],
      "parameters": {}
    },
    {
      "id": "c80d06ef-327b-5a6a-950a-8aa12e2c70d5",
      "name": "Build Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        900,
        420
      ],
      "parameters": {
        "jsCode": "// Build alert message for Milestone SLA Breach Alert.\nconst items = $input.all();\nreturn items.map((it) => ({ json: { ...it.json, processed: true } }));\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "8cf8357c-1974-5f52-8f5d-aa5fe025c7e5",
      "name": "Send Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1120,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/project-management-milestone-sla-breach-alert/alert",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "placeholder",
              "value": "REPLACE_WITH_YOUR_VALUE"
            }
          ]
        }
      }
    }
  ],
  "connections": {
    "Status Schedule": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Status OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status OK": {
      "main": [
        [
          {
            "node": "Healthy",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Alert": {
      "main": [
        [
          {
            "node": "Send Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "tags": [
    {
      "name": "category:project-management"
    },
    {
      "name": "pattern:schedule-status-alert"
    },
    {
      "name": "expansion-pack-v0"
    }
  ],
  "meta": {
    "templateGenerator": "open-workflow-library-expansion-pack-v0",
    "templateCategory": "project-management",
    "templatePattern": "schedule-status-alert"
  },
  "versionId": "15d6695b-8925-58e5-9a7a-a925dc7b7751",
  "id": "38459f36-1c58-569e-a984-f4a682579859"
}