workflows/oxbshw__ultimate-n8n-ai-workflows/Onboarding_Checklist_Reminder_(Template).json
{
  "name": "Onboarding Checklist Reminder (Template)",
  "nodes": [
    {
      "id": "ed40455c-753c-5f07-8ac8-ba72f6a5bc94",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "customer-success-onboarding-checklist-reminder-intake",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "a63efbeb-0e8c-5f64-bc94-faca2ba8d72f",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "input",
              "value": "={{$json[\"body\"]}}"
            },
            {
              "name": "source",
              "value": "Onboarding Checklist Reminder"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "73b1ca8a-e9ba-5749-aea2-cfd881595ccb",
      "name": "Validate Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"input\"]}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      }
    },
    {
      "id": "0a2f8bac-b5f9-55be-9f94-af760203c332",
      "name": "Forward To Service",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        900,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/customer-success-onboarding-checklist-reminder/forward",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "placeholder",
              "value": "REPLACE_WITH_YOUR_VALUE"
            }
          ]
        }
      }
    },
    {
      "id": "337461d2-1dfd-5ada-afcb-d475633be745",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1120,
        200
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"accepted\"}",
        "options": {}
      }
    },
    {
      "id": "d7740643-1ac5-5dc0-82fc-a27b4da28995",
      "name": "Respond Invalid",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        420
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"invalid\"}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Forward To Service",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Invalid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Forward To Service": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "tags": [
    {
      "name": "category:customer-success"
    },
    {
      "name": "pattern:webhook-intake-validate"
    },
    {
      "name": "expansion-pack-v0"
    }
  ],
  "meta": {
    "templateGenerator": "open-workflow-library-expansion-pack-v0",
    "templateCategory": "customer-success",
    "templatePattern": "webhook-intake-validate"
  },
  "versionId": "e1006979-e54f-53ab-bd86-2d482513e897",
  "id": "c47b1f56-f191-5d2f-81c1-94d24f7506e6"
}