workflows/oxbshw__ultimate-n8n-ai-workflows/Post-Purchase_Follow-Up_(Template).json
{
  "name": "Post-Purchase Follow-Up (Template)",
  "nodes": [
    {
      "id": "9e744d98-48aa-533c-8747-22db2b598b55",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      }
    },
    {
      "id": "74fc7905-085b-5296-ace0-3fa35e10d9c1",
      "name": "List Items",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/ecommerce-post-purchase-follow-up/list",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": false,
        "bodyParameters": {}
      }
    },
    {
      "id": "c4d9e068-63d3-597c-9662-16632bb3e2f1",
      "name": "Filter And Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "parameters": {
        "jsCode": "// Filter and format digest for Post-Purchase Follow-Up.\nconst items = $input.all();\nreturn items.map((it) => ({ json: { ...it.json, processed: true } }));\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "95665694-8745-54e4-80fe-3f42abb2dae9",
      "name": "Non Empty",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        300
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"items\"]}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      }
    },
    {
      "id": "af7f2b59-c505-519b-8d72-737f5061cab9",
      "name": "Send Digest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1120,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/ecommerce-post-purchase-follow-up/send-digest",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "placeholder",
              "value": "REPLACE_WITH_YOUR_VALUE"
            }
          ]
        }
      }
    },
    {
      "id": "c5fd99c9-c926-5f9a-82c7-3a45292cb88a",
      "name": "Nothing To Send",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1120,
        420
      ],
      "parameters": {}
    }
  ],
  "connections": {
    "Daily Schedule": {
      "main": [
        [
          {
            "node": "List Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Items": {
      "main": [
        [
          {
            "node": "Filter And Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter And Format": {
      "main": [
        [
          {
            "node": "Non Empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Non Empty": {
      "main": [
        [
          {
            "node": "Send Digest",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nothing To Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "tags": [
    {
      "name": "category:ecommerce"
    },
    {
      "name": "pattern:schedule-digest-format"
    },
    {
      "name": "expansion-pack-v0"
    }
  ],
  "meta": {
    "templateGenerator": "open-workflow-library-expansion-pack-v0",
    "templateCategory": "ecommerce",
    "templatePattern": "schedule-digest-format"
  },
  "versionId": "4c803554-a5f4-5942-9b3b-69b31e339060",
  "id": "046d1c66-9564-5515-9788-4517ab0b54dd"
}