workflows/oxbshw__ultimate-n8n-ai-workflows/Scheduling_Integration_Health_Probe_(Template).json
{
  "name": "Scheduling Integration Health Probe (Template)",
  "nodes": [
    {
      "id": "80658105-49c4-544f-9388-739a109c740c",
      "name": "Form Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "homecare-admin-scheduling-integration-health-probe-form",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "29dfeb7f-e4c8-5e9a-9ac1-45bb98907c30",
      "name": "Normalize Form",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "source",
              "value": "Scheduling Integration Health Probe"
            },
            {
              "name": "input",
              "value": "={{$json[\"body\"]}}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a25d1ff2-bc42-5905-bd09-3e2e6c1fbfa6",
      "name": "Required Fields",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"input\"]}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      }
    },
    {
      "id": "344d6baf-0181-56b9-9778-62176904a9a7",
      "name": "Create CRM Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        900,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/homecare-admin-scheduling-integration-health-probe/crm-create",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "placeholder",
              "value": "REPLACE_WITH_YOUR_VALUE"
            }
          ]
        }
      }
    },
    {
      "id": "2f13207a-9745-5351-b971-b690cee0eaa8",
      "name": "Notify Owner",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1120,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/homecare-admin-scheduling-integration-health-probe/notify-owner",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "placeholder",
              "value": "REPLACE_WITH_YOUR_VALUE"
            }
          ]
        }
      }
    },
    {
      "id": "005552e2-97ac-53ab-a986-a8159639b835",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1340,
        200
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"created\"}",
        "options": {}
      }
    },
    {
      "id": "96712c5f-03e0-5717-b26e-a741c13f66d6",
      "name": "Respond Missing",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        420
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"missing-fields\"}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Form Webhook": {
      "main": [
        [
          {
            "node": "Normalize Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Form": {
      "main": [
        [
          {
            "node": "Required Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Required Fields": {
      "main": [
        [
          {
            "node": "Create CRM Record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Missing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create CRM Record": {
      "main": [
        [
          {
            "node": "Notify Owner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Owner": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "tags": [
    {
      "name": "category:homecare-admin"
    },
    {
      "name": "pattern:webhook-form-crm-create"
    },
    {
      "name": "expansion-pack-v0"
    }
  ],
  "meta": {
    "templateGenerator": "open-workflow-library-expansion-pack-v0",
    "templateCategory": "homecare-admin",
    "templatePattern": "webhook-form-crm-create"
  },
  "versionId": "c485dcb6-6c4d-5102-85e2-e81886d33e38",
  "id": "04e35be6-cd01-5df1-9262-1a939ed1f6c0"
}