workflows/oxbshw__ultimate-n8n-ai-workflows/Vendor_Form_Processor_(Template).json
{
  "name": "Vendor Form Processor (Template)",
  "nodes": [
    {
      "id": "19aa18a2-68ce-5ed4-b84b-49f158d91832",
      "name": "Action Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "finance-admin-vendor-form-processor-action",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "2dae380f-e3f8-59ce-b464-170e7fe6891b",
      "name": "Compute Idempotency Key",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "parameters": {
        "jsCode": "// Compute idempotency key for Vendor Form Processor.\nconst items = $input.all();\nreturn items.map((it) => ({ json: { ...it.json, processed: true } }));\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "f367fcdd-edd4-5bbb-aaa8-61f00d3e6e60",
      "name": "Already Processed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"existing\"]}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      }
    },
    {
      "id": "f30e26b0-1474-5d2f-accd-ff2816aeec01",
      "name": "Respond Duplicate",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        200
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"duplicate\"}",
        "options": {}
      }
    },
    {
      "id": "8a637a73-cae7-57ad-a5aa-1872452ce504",
      "name": "Apply Action",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        900,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/finance-admin-vendor-form-processor/apply",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "placeholder",
              "value": "REPLACE_WITH_YOUR_VALUE"
            }
          ]
        }
      }
    },
    {
      "id": "f919b6e4-b189-52d4-bac1-9546c8888c34",
      "name": "Confirm Action",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1120,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/finance-admin-vendor-form-processor/confirm",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "placeholder",
              "value": "REPLACE_WITH_YOUR_VALUE"
            }
          ]
        }
      }
    },
    {
      "id": "2c1a3219-5fff-5de4-9652-9fc190456c5f",
      "name": "Respond Applied",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1340,
        420
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"applied\"}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Action Webhook": {
      "main": [
        [
          {
            "node": "Compute Idempotency Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Idempotency Key": {
      "main": [
        [
          {
            "node": "Already Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Already Processed": {
      "main": [
        [
          {
            "node": "Respond Duplicate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Apply Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Action": {
      "main": [
        [
          {
            "node": "Confirm Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirm Action": {
      "main": [
        [
          {
            "node": "Respond Applied",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "tags": [
    {
      "name": "category:finance-admin"
    },
    {
      "name": "pattern:webhook-idempotent-action"
    },
    {
      "name": "expansion-pack-v0"
    }
  ],
  "meta": {
    "templateGenerator": "open-workflow-library-expansion-pack-v0",
    "templateCategory": "finance-admin",
    "templatePattern": "webhook-idempotent-action"
  },
  "versionId": "a7c60cf4-223c-577b-8c88-d8ae1c5a9b59",
  "id": "f8e9b622-eaf2-50ee-bf1b-ea52143a9093"
}