workflows/oxbshw__ultimate-n8n-ai-workflows/VIP_Customer_Escalation_(Template).json
{
  "name": "VIP Customer Escalation (Template)",
  "nodes": [
    {
      "id": "4ada22eb-705d-5d5e-b396-1cb6b4cf61ad",
      "name": "Hourly Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      }
    },
    {
      "id": "92ebae41-ed49-5414-9bee-b2b7b3e3e856",
      "name": "Fetch Records",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/customer-support-vip-customer-escalation/list",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": false,
        "bodyParameters": {}
      }
    },
    {
      "id": "31865b68-4570-5d7a-a04c-cfceb9cd1d13",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "parameters": {
        "jsCode": "// Aggregate fetched records for VIP Customer Escalation.\nconst items = $input.all();\nreturn items.map((it) => ({ json: { ...it.json, processed: true } }));\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "91366570-8582-5883-b14d-d1dd18a91ae1",
      "name": "Has Results",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        300
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"count\"]}}",
              "operation": "largerEqual"
            }
          ]
        }
      }
    },
    {
      "id": "08ef9fdd-300d-51aa-9810-177ebf7229a7",
      "name": "Notify Channel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1120,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/customer-support-vip-customer-escalation/notify",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "placeholder",
              "value": "REPLACE_WITH_YOUR_VALUE"
            }
          ]
        }
      }
    },
    {
      "id": "e8cdb34b-3e84-5b7b-8500-deb3f0d94a15",
      "name": "No Work",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1120,
        420
      ],
      "parameters": {}
    }
  ],
  "connections": {
    "Hourly Schedule": {
      "main": [
        [
          {
            "node": "Fetch Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Records": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Results": {
      "main": [
        [
          {
            "node": "Has Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Results": {
      "main": [
        [
          {
            "node": "Notify Channel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Work",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "tags": [
    {
      "name": "category:customer-support"
    },
    {
      "name": "pattern:schedule-fetch-aggregate"
    },
    {
      "name": "expansion-pack-v0"
    }
  ],
  "meta": {
    "templateGenerator": "open-workflow-library-expansion-pack-v0",
    "templateCategory": "customer-support",
    "templatePattern": "schedule-fetch-aggregate"
  },
  "versionId": "722c8e65-78ef-5a97-a1bd-9ab6e1627cb3",
  "id": "7b955ada-9fa9-55bb-a3e2-1a40ceb08f30"
}