workflows/oxbshw__ultimate-n8n-ai-workflows/Visit_Status_Change_Notifier_(Template).json
{
  "name": "Visit Status Change Notifier (Template)",
  "nodes": [
    {
      "id": "2ffc80dd-e9aa-55cd-8de0-633aaf1c1bff",
      "name": "Hourly Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      }
    },
    {
      "id": "8fe21cc6-cace-5fc7-abc6-452bc3ad3199",
      "name": "Fetch Records",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/homecare-admin-visit-status-change-notifier/list",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": false,
        "bodyParameters": {}
      }
    },
    {
      "id": "8a51c741-e029-5404-abc9-be9713da40fc",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "parameters": {
        "jsCode": "// Aggregate fetched records for Visit Status Change Notifier.\nconst items = $input.all();\nreturn items.map((it) => ({ json: { ...it.json, processed: true } }));\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "1623b130-1272-5889-8e61-9058b10503ba",
      "name": "Has Results",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        300
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"count\"]}}",
              "operation": "largerEqual"
            }
          ]
        }
      }
    },
    {
      "id": "0e389fd6-d656-5e04-a70e-9f92263b5b0d",
      "name": "Notify Channel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1120,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/homecare-admin-visit-status-change-notifier/notify",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "placeholder",
              "value": "REPLACE_WITH_YOUR_VALUE"
            }
          ]
        }
      }
    },
    {
      "id": "0296ed6b-6d83-508d-8696-4f68f73416ec",
      "name": "No Work",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1120,
        420
      ],
      "parameters": {}
    }
  ],
  "connections": {
    "Hourly Schedule": {
      "main": [
        [
          {
            "node": "Fetch Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Records": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Results": {
      "main": [
        [
          {
            "node": "Has Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Results": {
      "main": [
        [
          {
            "node": "Notify Channel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Work",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "tags": [
    {
      "name": "category:homecare-admin"
    },
    {
      "name": "pattern:schedule-fetch-aggregate"
    },
    {
      "name": "expansion-pack-v0"
    }
  ],
  "meta": {
    "templateGenerator": "open-workflow-library-expansion-pack-v0",
    "templateCategory": "homecare-admin",
    "templatePattern": "schedule-fetch-aggregate"
  },
  "versionId": "8575c345-9427-5b85-a1a5-157be02bfcba",
  "id": "53d918e6-f770-5a57-8716-097fd62d7236"
}