workflows/oxbshw__ultimate-n8n-ai-workflows/Weekly_Status_Digest_(Template).json
{
  "name": "Weekly Status Digest (Template)",
  "nodes": [
    {
      "id": "dea51c79-135f-5caa-8214-28f657b5407b",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {}
    },
    {
      "id": "b401b2c8-c1f4-545a-9117-d25cb2dab8fb",
      "name": "Sample Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "subject",
              "value": "Weekly Status Digest"
            },
            {
              "name": "ref",
              "value": "REPLACE_WITH_YOUR_VALUE"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "b3bdb2d2-160e-559d-8b04-05fde015f877",
      "name": "Lookup External",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/project-management-weekly-status-digest/lookup",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": false,
        "bodyParameters": {}
      }
    },
    {
      "id": "89baec1c-f53b-5060-9485-885f64de93cb",
      "name": "Transform Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        900,
        300
      ],
      "parameters": {
        "jsCode": "// Transform lookup result for Weekly Status Digest.\nconst items = $input.all();\nreturn items.map((it) => ({ json: { ...it.json, processed: true } }));\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "10f7709d-2756-590c-879e-9dd69081be37",
      "name": "Store Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1120,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/project-management-weekly-status-digest/store",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "placeholder",
              "value": "REPLACE_WITH_YOUR_VALUE"
            }
          ]
        }
      }
    },
    {
      "id": "3a0518f5-6584-5d5e-a3c4-dad0b27f8ce0",
      "name": "Done",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1340,
        300
      ],
      "parameters": {}
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Sample Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sample Input": {
      "main": [
        [
          {
            "node": "Lookup External",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup External": {
      "main": [
        [
          {
            "node": "Transform Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Payload": {
      "main": [
        [
          {
            "node": "Store Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Record": {
      "main": [
        [
          {
            "node": "Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "tags": [
    {
      "name": "category:project-management"
    },
    {
      "name": "pattern:manual-sample-transform-store"
    },
    {
      "name": "expansion-pack-v0"
    }
  ],
  "meta": {
    "templateGenerator": "open-workflow-library-expansion-pack-v0",
    "templateCategory": "project-management",
    "templatePattern": "manual-sample-transform-store"
  },
  "versionId": "23dd0a14-e57b-5a1e-ab93-8ffe024ed706",
  "id": "beb16c1a-1987-5c86-85d4-584dc7e9d291"
}