workflows/oxbshw__ultimate-n8n-ai-workflows/Weekly_Internal_Digest_(Template).json
{
  "name": "Weekly Internal Digest (Template)",
  "nodes": [
    {
      "id": "58cb36fa-177d-5889-bec5-7e56a0c3a65a",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {}
    },
    {
      "id": "4ee80f49-eff7-51d2-89d3-40146eb52511",
      "name": "Sample Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "subject",
              "value": "Weekly Internal Digest"
            },
            {
              "name": "ref",
              "value": "REPLACE_WITH_YOUR_VALUE"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "6096187d-4447-5ed0-967a-cdf05e5583ab",
      "name": "Lookup External",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/internal-tools-weekly-internal-digest/lookup",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": false,
        "bodyParameters": {}
      }
    },
    {
      "id": "d16b0ec6-4b57-5270-8eab-0972c8081fd5",
      "name": "Transform Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        900,
        300
      ],
      "parameters": {
        "jsCode": "// Transform lookup result for Weekly Internal Digest.\nconst items = $input.all();\nreturn items.map((it) => ({ json: { ...it.json, processed: true } }));\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "1f4bd6fd-4ea9-5ab1-a2db-9c694f8632b8",
      "name": "Store Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1120,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/internal-tools-weekly-internal-digest/store",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "placeholder",
              "value": "REPLACE_WITH_YOUR_VALUE"
            }
          ]
        }
      }
    },
    {
      "id": "151a46f4-9ab9-5bc3-b5ef-133536aecba1",
      "name": "Done",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1340,
        300
      ],
      "parameters": {}
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Sample Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sample Input": {
      "main": [
        [
          {
            "node": "Lookup External",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup External": {
      "main": [
        [
          {
            "node": "Transform Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Payload": {
      "main": [
        [
          {
            "node": "Store Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Record": {
      "main": [
        [
          {
            "node": "Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "tags": [
    {
      "name": "category:internal-tools"
    },
    {
      "name": "pattern:manual-sample-transform-store"
    },
    {
      "name": "expansion-pack-v0"
    }
  ],
  "meta": {
    "templateGenerator": "open-workflow-library-expansion-pack-v0",
    "templateCategory": "internal-tools",
    "templatePattern": "manual-sample-transform-store"
  },
  "versionId": "8c042b82-68ef-5eae-89f6-6a0ef2c1376b",
  "id": "c9e3e363-8976-5e72-843d-f361a8a26ed6"
}