workflows/oxbshw__ultimate-n8n-ai-workflows/Weekly_Account_Digest_(Template).json
{
  "name": "Weekly Account Digest (Template)",
  "nodes": [
    {
      "id": "468bd95a-9838-57a7-a10b-6ec05e65710d",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {}
    },
    {
      "id": "1c25f29d-739f-5cb8-a213-cd2b453c60ae",
      "name": "Sample Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "subject",
              "value": "Weekly Account Digest"
            },
            {
              "name": "ref",
              "value": "REPLACE_WITH_YOUR_VALUE"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "71223aaf-3899-5194-b44a-e45f66593cc2",
      "name": "Lookup External",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/customer-success-weekly-account-digest/lookup",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": false,
        "bodyParameters": {}
      }
    },
    {
      "id": "25070c46-857f-554e-921f-2ebbf17340ac",
      "name": "Transform Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        900,
        300
      ],
      "parameters": {
        "jsCode": "// Transform lookup result for Weekly Account Digest.\nconst items = $input.all();\nreturn items.map((it) => ({ json: { ...it.json, processed: true } }));\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "b01c3c45-da88-5ae3-a1f6-642ff9ab4671",
      "name": "Store Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1120,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/customer-success-weekly-account-digest/store",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "placeholder",
              "value": "REPLACE_WITH_YOUR_VALUE"
            }
          ]
        }
      }
    },
    {
      "id": "cd03a4d6-9d64-530f-b64d-72e36b35cc18",
      "name": "Done",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1340,
        300
      ],
      "parameters": {}
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Sample Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sample Input": {
      "main": [
        [
          {
            "node": "Lookup External",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup External": {
      "main": [
        [
          {
            "node": "Transform Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Payload": {
      "main": [
        [
          {
            "node": "Store Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Record": {
      "main": [
        [
          {
            "node": "Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "tags": [
    {
      "name": "category:customer-success"
    },
    {
      "name": "pattern:manual-sample-transform-store"
    },
    {
      "name": "expansion-pack-v0"
    }
  ],
  "meta": {
    "templateGenerator": "open-workflow-library-expansion-pack-v0",
    "templateCategory": "customer-success",
    "templatePattern": "manual-sample-transform-store"
  },
  "versionId": "10c17bb3-7864-5bf8-9542-e09277054fa3",
  "id": "8a3818c5-d586-5ad1-94fe-af3bb98881e4"
}