workflows/p/Patient_Intake_Form_Routing_(Template).json
{
  "name": "Patient Intake Form Routing (Template)",
  "nodes": [
    {
      "id": "cfc6c9c3-ab42-51ea-92ca-48876e3886ec",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "healthcare-admin-patient-intake-form-routing-intake",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "51319bc8-fa60-52ae-be4b-d36fe9264fc2",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "input",
              "value": "={{$json[\"body\"]}}"
            },
            {
              "name": "source",
              "value": "Patient Intake Form Routing"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "c8bddee8-8e9c-54c2-a9a5-6c84cf29f22c",
      "name": "Validate Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"input\"]}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      }
    },
    {
      "id": "9d4dfdc9-cf3e-56e9-ac69-afb1f02c2231",
      "name": "Forward To Service",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        900,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/healthcare-admin-patient-intake-form-routing/forward",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "placeholder",
              "value": "REPLACE_WITH_YOUR_VALUE"
            }
          ]
        }
      }
    },
    {
      "id": "e7a3cad2-8cbf-5d3f-981c-8952d55922c0",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1120,
        200
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"accepted\"}",
        "options": {}
      }
    },
    {
      "id": "7baf99da-56ae-5bf2-bfde-3b29d79b9d2d",
      "name": "Respond Invalid",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        420
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"invalid\"}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Forward To Service",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Invalid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Forward To Service": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "tags": [
    {
      "name": "category:healthcare-admin"
    },
    {
      "name": "pattern:webhook-intake-validate"
    },
    {
      "name": "expansion-pack-v0"
    }
  ],
  "meta": {
    "templateGenerator": "open-workflow-library-expansion-pack-v0",
    "templateCategory": "healthcare-admin",
    "templatePattern": "webhook-intake-validate"
  },
  "versionId": "468c5646-22ff-51af-839e-687a7ae35f3c",
  "id": "04fe1cfd-5fd8-5fdf-8632-34e2156827c5"
}