workflows/p/post_blog_articles_to_linkedin_and_twitter_with_openai_captions_and_uploadtourl.json
{
  "meta": {
    "instanceId": "277842713620d9f5554de3b1518b865a152c8c4db680008bd8aec536fc18b4a8"
  },
  "nodes": [
    {
      "id": "8ac0a983-be97-4e6f-ae9b-85a6dc61a0ed",
      "name": "📋 MAIN — Workflow Overview",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -96,
        -768
      ],
      "parameters": {
        "width": 620,
        "height": 712,
        "content": "## 📰 Auto-Post Blog Content to LinkedIn & Twitter/X\n\n**What this workflow does:**\nThis template monitors your blog's RSS feed for new posts, extracts the title, summary, and cover image, uploads the image to a public URL via the UploadToURL node, then generates platform-optimized captions using AI and auto-posts to both LinkedIn and Twitter/X — all hands-free.\n\n**Trigger:** RSS Feed polling (every 15 minutes)\n\n**Key nodes used:**\n- 🔁 RSS Feed Trigger\n- 🧹 Data Extraction & Cleanup (Code Node)\n- ☁️ UploadToURL (mandatory image hosting)\n- 🤖 AI Caption Generator (OpenAI)\n- 🔗 LinkedIn Post\n- 🐦 Twitter/X Post\n- ✅ Success Logger\n\n**Setup Requirements:**\n1. Add your RSS Feed URL in the RSS Trigger node\n2. Configure OpenAI API credentials\n3. Add LinkedIn OAuth2 credentials\n4. Add Twitter/X OAuth1 credentials\n5. UploadToURL node requires no extra auth — paste your upload endpoint\n\n**Note:** Deduplication logic is built-in via item uniqueness check to avoid re-posting old articles."
      },
      "typeVersion": 1
    },
    {
      "id": "d084d08d-f0b6-4777-9796-0eb2a3a28ee0",
      "name": "📝 Note — Trigger & Filter",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        624,
        -16
      ],
      "parameters": {
        "color": 7,
        "width": 588,
        "height": 440,
        "content": "### 🔁 Step 1 — RSS Trigger & Filter\n**RSS Feed Trigger:** Polls your blog RSS every 15 min for new items.\n**IF Node:** Checks that both `title` and `enclosure` (cover image URL) are present. If no image is found, the workflow exits gracefully — no broken posts."
      },
      "typeVersion": 1
    },
    {
      "id": "af3e35ec-f0e5-4976-9737-67c908bf4348",
      "name": "📝 Note — Fetch & Upload Image",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1232,
        -16
      ],
      "parameters": {
        "color": 7,
        "width": 652,
        "height": 440,
        "content": "### ☁️ Step 2 — Fetch & Upload Image\n**HTTP Request (Fetch Image):** Downloads the raw binary of the blog cover image from the enclosure URL.\n**UploadToURL Node:** Takes the binary image data and uploads it to your configured public storage endpoint. Returns a hosted public URL used in social posts."
      },
      "typeVersion": 1
    },
    {
      "id": "92221d21-dad5-4ac5-b21a-38f83317c965",
      "name": "📝 Note — AI Caption & Social Posting",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1904,
        -64
      ],
      "parameters": {
        "color": 7,
        "width": 908,
        "height": 600,
        "content": "### 🤖 Step 3 — AI Caption + Posting\n**OpenAI Node:** Generates two platform-specific captions — one for LinkedIn (professional tone, 150-200 words, with hashtags) and one for Twitter/X (punchy, under 260 chars with 2-3 hashtags).\n**LinkedIn + Twitter/X Nodes:** Post the AI-generated captions with the hosted image URL. Both run in parallel after the AI step."
      },
      "typeVersion": 1
    },
    {
      "id": "fd8ec451-3cec-495b-955c-a54a3ea0e0c2",
      "name": "RSS Feed — Blog Monitor",
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "position": [
        640,
        224
      ],
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "id": "786d7bb9-03b5-425d-9a19-932bfd47da8e",
      "name": "IF — Has Title & Cover Image",
      "type": "n8n-nodes-base.if",
      "position": [
        864,
        224
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "check-title",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              },
              "leftValue": "={{ $json.title }}",
              "rightValue": ""
            },
            {
              "id": "check-image",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              },
              "leftValue": "={{ $json.enclosure?.url }}",
              "rightValue": ""
            }
          ]
        }
      },
      "typeVersion": 2
    },
    {
      "id": "51d82d45-98b0-4157-8534-67368299906a",
      "name": "Code — Extract & Clean Blog Data",
      "type": "n8n-nodes-base.code",
      "position": [
        1072,
        224
      ],
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nconst title = item.title || '';\nconst link = item.link || '';\nconst imageUrl = item.enclosure?.url || item['media:content']?.['@_url'] || '';\n\n// Strip HTML tags from content/summary\nconst rawSummary = item.contentSnippet || item.summary || item.content || '';\nconst cleanSummary = rawSummary\n  .replace(/<[^>]+>/g, '')\n  .replace(/&amp;/g, '&')\n  .replace(/&lt;/g, '<')\n  .replace(/&gt;/g, '>')\n  .replace(/&nbsp;/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim()\n  .substring(0, 500);\n\nconst pubDate = item.pubDate || item.isoDate || new Date().toISOString();\n\nreturn [{\n  json: {\n    title,\n    link,\n    imageUrl,\n    summary: cleanSummary,\n    pubDate,\n    slug: title.toLowerCase().replace(/[^a-z0-9]+/g, '-')\n  }\n}];"
      },
      "typeVersion": 2
    },
    {
      "id": "f47b124c-2f3e-4beb-bc5e-bcdbcfda90fd",
      "name": "HTTP — Fetch Cover Image Binary",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1296,
        224
      ],
      "parameters": {
        "url": "={{ $json.imageUrl }}",
        "options": {
          "timeout": 15000,
          "redirect": {
            "redirect": {
              "maxRedirects": 5
            }
          },
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "faf1fa1a-fbb9-47a8-9a5f-1518b1fe5af1",
      "name": "Code — Merge Hosted URL with Blog Data",
      "type": "n8n-nodes-base.code",
      "position": [
        1744,
        224
      ],
      "parameters": {
        "jsCode": "const uploadResponse = $input.first().json;\nconst prevData = $('Code — Extract & Clean Blog Data').first().json;\n\n// Handle various uploadtourl response formats\nconst hostedUrl = \n  uploadResponse?.url ||\n  uploadResponse?.data?.url ||\n  uploadResponse?.file?.url ||\n  uploadResponse?.link ||\n  prevData.imageUrl; // fallback to original if upload fails\n\nreturn [{\n  json: {\n    ...prevData,\n    hostedImageUrl: hostedUrl\n  }\n}];"
      },
      "typeVersion": 2
    },
    {
      "id": "1588fa1f-5442-41da-b14d-fbd9f949b0fd",
      "name": "OpenAI — Generate Platform Captions",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1952,
        224
      ],
      "parameters": {
        "resource": "chat"
      },
      "typeVersion": 1.4
    },
    {
      "id": "b37fbddd-84d6-4a15-9e20-938774c00c30",
      "name": "Code — Parse AI Captions Safely",
      "type": "n8n-nodes-base.code",
      "position": [
        2176,
        224
      ],
      "parameters": {
        "jsCode": "const aiResponse = $input.first().json;\nconst blogData = $('Code — Merge Hosted URL with Blog Data').first().json;\n\nlet captions = { linkedin: '', twitter: '' };\n\ntry {\n  const raw = aiResponse?.choices?.[0]?.message?.content || '{}';\n  // Remove markdown code fences if present\n  const cleaned = raw.replace(/```json|```/g, '').trim();\n  captions = JSON.parse(cleaned);\n} catch (e) {\n  // Fallback captions\n  captions.linkedin = `📖 New Blog Post: ${blogData.title}\\n\\n${blogData.summary.substring(0, 200)}...\\n\\nRead more: ${blogData.link}\\n\\n#Blog #Business #Content`;\n  captions.twitter = `📖 ${blogData.title} — ${blogData.link} #Blog #MustRead`;\n}\n\nreturn [{\n  json: {\n    ...blogData,\n    linkedinCaption: captions.linkedin,\n    twitterCaption: captions.twitter\n  }\n}];"
      },
      "typeVersion": 2
    },
    {
      "id": "17ac6813-23f2-4890-9e4d-3460f092dd0a",
      "name": "LinkedIn — Publish Post with Image",
      "type": "n8n-nodes-base.linkedIn",
      "position": [
        2400,
        128
      ],
      "parameters": {
        "text": "={{ $json.linkedinCaption }}",
        "person": "={{ $json.linkedinPersonUrn }}",
        "additionalFields": {
          "title": "={{ $json.title }}"
        },
        "shareMediaCategory": "IMAGE"
      },
      "typeVersion": 1
    },
    {
      "id": "8a292f70-edf9-4e68-9f30-3de84e18cb1c",
      "name": "Twitter/X — Publish Tweet",
      "type": "n8n-nodes-base.twitter",
      "position": [
        2400,
        352
      ],
      "parameters": {
        "text": "={{ $json.twitterCaption }}",
        "additionalFields": {}
      },
      "typeVersion": 1
    },
    {
      "id": "e809ff73-6948-4762-aaee-938510b94d74",
      "name": "Code — Success Logger",
      "type": "n8n-nodes-base.code",
      "position": [
        2624,
        224
      ],
      "parameters": {
        "jsCode": "const data = $('Code — Parse AI Captions Safely').first().json;\nconsole.log(`✅ Blog post published: ${data.title}`);\nconsole.log(`🔗 LinkedIn caption length: ${data.linkedinCaption?.length}`);\nconsole.log(`🐦 Twitter caption length: ${data.twitterCaption?.length}`);\nconsole.log(`🖼️ Hosted image: ${data.hostedImageUrl}`);\nreturn [{ json: { status: 'success', title: data.title, timestamp: new Date().toISOString() } }];"
      },
      "typeVersion": 2
    },
    {
      "id": "858b40b8-0549-4cbc-9464-ca9f2538737e",
      "name": "Upload a File",
      "type": "n8n-nodes-uploadtourl.uploadToUrl",
      "position": [
        1504,
        224
      ],
      "parameters": {},
      "credentials": {
        "uploadToUrlApi": {
          "id": "NZ1TNlb5Vjt2d9dg",
          "name": "uploadtourl - Deepanshi"
        }
      },
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Upload a File": {
      "main": [
        [
          {
            "node": "Code — Merge Hosted URL with Blog Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Feed — Blog Monitor": {
      "main": [
        [
          {
            "node": "IF — Has Title & Cover Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twitter/X — Publish Tweet": {
      "main": [
        [
          {
            "node": "Code — Success Logger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — Has Title & Cover Image": {
      "main": [
        [
          {
            "node": "Code — Extract & Clean Blog Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Parse AI Captions Safely": {
      "main": [
        [
          {
            "node": "LinkedIn — Publish Post with Image",
            "type": "main",
            "index": 0
          },
          {
            "node": "Twitter/X — Publish Tweet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP — Fetch Cover Image Binary": {
      "main": [
        [
          {
            "node": "Upload a File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Extract & Clean Blog Data": {
      "main": [
        [
          {
            "node": "HTTP — Fetch Cover Image Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn — Publish Post with Image": {
      "main": [
        [
          {
            "node": "Code — Success Logger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI — Generate Platform Captions": {
      "main": [
        [
          {
            "node": "Code — Parse AI Captions Safely",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Merge Hosted URL with Blog Data": {
      "main": [
        [
          {
            "node": "OpenAI — Generate Platform Captions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}