workflows/p/Project_Tracker_Integration_Health_Probe_(Template).json
{
  "name": "Project Tracker Integration Health Probe (Template)",
  "nodes": [
    {
      "id": "8bff1a68-5b5a-505b-928f-96992742ca94",
      "name": "Form Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "project-management-project-tracker-integration-health-probe-form",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "ff1056f4-73a8-5db6-a2d9-41da13da15b0",
      "name": "Normalize Form",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "source",
              "value": "Project Tracker Integration Health Probe"
            },
            {
              "name": "input",
              "value": "={{$json[\"body\"]}}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "3396c1da-39a8-544b-8f55-8af5ae1c0775",
      "name": "Required Fields",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"input\"]}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      }
    },
    {
      "id": "6f7dec7a-8ee2-5a1e-863c-44292d61e4c4",
      "name": "Create CRM Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        900,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/project-management-project-tracker-integration-health-probe/crm-create",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "placeholder",
              "value": "REPLACE_WITH_YOUR_VALUE"
            }
          ]
        }
      }
    },
    {
      "id": "9ecd3848-f8f6-5b01-80b3-9f3fa7f6145c",
      "name": "Notify Owner",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1120,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/project-management-project-tracker-integration-health-probe/notify-owner",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "placeholder",
              "value": "REPLACE_WITH_YOUR_VALUE"
            }
          ]
        }
      }
    },
    {
      "id": "7ade99fd-e6df-512d-b138-41b3c7812996",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1340,
        200
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"created\"}",
        "options": {}
      }
    },
    {
      "id": "9cedddeb-f70e-54d4-8a71-61f6edd8469f",
      "name": "Respond Missing",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        420
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"missing-fields\"}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Form Webhook": {
      "main": [
        [
          {
            "node": "Normalize Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Form": {
      "main": [
        [
          {
            "node": "Required Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Required Fields": {
      "main": [
        [
          {
            "node": "Create CRM Record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Missing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create CRM Record": {
      "main": [
        [
          {
            "node": "Notify Owner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Owner": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "tags": [
    {
      "name": "category:project-management"
    },
    {
      "name": "pattern:webhook-form-crm-create"
    },
    {
      "name": "expansion-pack-v0"
    }
  ],
  "meta": {
    "templateGenerator": "open-workflow-library-expansion-pack-v0",
    "templateCategory": "project-management",
    "templatePattern": "webhook-form-crm-create"
  },
  "versionId": "12e4fbb1-ca13-529f-8d3b-f495f3251590",
  "id": "28040a23-1004-52d4-82ec-10f9b7114e69"
}