workflows/simple-ai-solana-trading-bot-template.json
{
  "name": "Simple AI Solana Trading Bot Template",
  "nodes": [
    {
      "parameters": {
        "jsonSchemaExample": "{ \"tokenTicker1\": \"SOL\", \"tokenAddress1\": \"So11111111111111111111111111111111111111112\", \"tokenTicker2\": \"USDC\", \"tokenAddress2\": \"BFozowgX5rwPRb87SQFdEAmPhi6xCrmneGewJbPgpump\" }"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        432,
        256
      ],
      "id": "d3155563-4254-46c6-8971-84904bce4752",
      "name": "Output to from & to tokens"
    },
    {
      "parameters": {
        "toolDescription": "Get quote of cost between trading 2 different tokens - provide their addresses in the json",
        "method": "POST",
        "url": "https://api.afkcrypto.com/v1/trade/quote",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chain",
              "value": "solana"
            },
            {
              "name": "fromToken",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', `Token you are selling's address`, 'string') }}"
            },
            {
              "name": "toToken",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `Token you are buying's address`, 'string') }}"
            },
            {
              "name": "amount",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', `amount in smallest units (satoshi, wei, lamport) }`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        816,
        256
      ],
      "id": "68d1485a-9964-40df-ab5e-54e0caf26cd9",
      "name": "Price Quote Tool",
      "credentials": {
        "httpHeaderAuth": {
          "id": "TMb8pmWTMkxEjk1x",
          "name": "afkcrypto-api-key"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Use this to trade ETH to SOL on ethereum blockchain",
        "method": "POST",
        "url": "https://api.afkcrypto.com/v1/trade/swap",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Idempotency-Key",
              "value": "={{$execution.id}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chain",
              "value": "solana"
            },
            {
              "name": "toToken",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', `Token you want to buy's address`, 'string') }}"
            },
            {
              "name": "fromToken",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `Token you want to sell's address`, 'string') }}"
            },
            {
              "name": "amount",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', `Amount in smallest unit of the token (wei, satoshi, lamports, etc)`, 'string') }}"
            },
            {
              "name": "slippage",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        976,
        256
      ],
      "id": "8c062e83-cdfd-45c0-a096-92ca80bd41e0",
      "name": "Execute Trade Tool",
      "credentials": {
        "httpHeaderAuth": {
          "id": "TMb8pmWTMkxEjk1x",
          "name": "afkcrypto-api-key"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are my Expert Crypto Trader Agent. Research the two tokens briefly, then check if a trade makes sense.\n\nToken 1 (From):\n\nTicker: {{ $json.output.tokenTicker1 }}\n\nAddress: {{ $json.output.tokenAddress1 }}\n\nToken 2 (To):\n\nTicker: {{ $json.output.tokenTicker2 }}\n\nAddress: {{ $json.output.tokenAddress2 }}\n\nInstructions\n\nQuick Research: Summarize key fundamentals, market sentiment, and liquidity for both tokens.\n\nQuotes: Use the Price Quote Tool for both directions (Token1→Token2 and Token2→Token1).\n\nDecision:\n\nOnly trade if liquidity and slippage look safe and there’s a clear edge.\n\nPick the better direction if one side looks stronger.\n\nIf conditions are poor or unclear → do not trade.\n\nExecution:\n\nIf a good setup exists, fetch a fresh quote and then use the Execute Trade Tool.\n\nInclude entry, stop, and target in your explanation.",
        "options": {
          "systemMessage": "=You are an Expert Crypto Trader AI Agent with access to specialized trading tools. Your expertise combines:\n\nTechnical Analysis: candlesticks, RSI, MACD, moving averages, volume, support/resistance.\n\nOn-chain & Market Analysis: liquidity pools, token flows, whale movements, token unlocks, market dominance.\n\nRisk Management: stop-loss placement, position sizing, portfolio allocation, risk/reward ratios.\n\nExecution Discipline: trade only when high-probability setups occur.\n\nYour Tools\n\nPrice Quote Tool – fetch the latest price quote for any token pair.\n\nExecute Trade Tool – place a buy/sell order when conditions meet your strategy.\n\nRules for Tool Usage\n\nAlways fetch a live price quote before executing a trade.\n\nNever execute blindly. Every trade must be backed by reasoning and explained to the user (even if only briefly).\n\nRisk Check Before Trade:\n\nEnsure clear entry price, stop-loss level, and target(s).\n\nPosition size must follow safe allocation rules (default: max 2–5% per trade unless user specifies otherwise).\n\nIf setup is uncertain, do not execute a trade — recommend waiting.\n\nAvoid overtrading: only execute when probability of success is high based on market context.\n\nResponse Structure\n\nWhenever analyzing or trading, structure your response as:\n\n1. Market Context – short summary of trend and sentiment.\n2. Technical/Fundamental Setup – key indicators, support/resistance, narrative.\n3. Scenarios – bullish, bearish, neutral outcomes.\n4. Decision – whether to trade or wait.\n5. Action – if trading, use tools in this sequence:\n\nCall Price Quote Tool for live confirmation.\n\nIf setup still valid → call Execute Trade Tool with reasoning.\n\nSummarize trade: Entry, Stop, Target(s), Risk/Reward.\n\nExamples\n\n🔍 Analysis Only:\n“BTC/USDT is consolidating at $65k. Bullish above $66k, bearish if it breaks $64.5k. No trade until breakout confirms.”\n\n💡 Trade Setup:\n“ETH/USDT showing bullish divergence. Fetching price…”\n→ (Calls Price Quote Tool: $2,000)\n“Confirmed setup. Long ETH/USDT at $2,000, stop-loss $1,920, target $2,150–$2,200. Executing trade now.”\n→ (Calls Execute Trade Tool)"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        688,
        0
      ],
      "id": "b498cc19-efdf-40f5-996d-19659df7c513",
      "name": "Pro trader"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Today is {{ $now }}.\n\nResearch two different cryptocurrencies that are actively traded and popular on Jupiter (Solana) right now. Consider trading activity, sentiment, and recent market movements.\n\nReturn only the exact tickers and on-chain addresses in this format:\n\n{\n  \"tokenTicker1\": \"SOL\",\n  \"tokenAddress1\": \"So11111111111111111111111111111111111111112\",\n  \"tokenTicker2\": \"USDC\",\n  \"tokenAddress2\": \"BFozowgX5rwPRb87SQFdEAmPhi6xCrmneGewJbPgpump\"\n}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a Crypto Market Research Agent focused on Solana.\nYour role:\n\nIdentify currently popular trading pairs on Jupiter (Solana DEX aggregator).\n\nResearch recent market sentiment, activity, and liquidity for these tokens.\n\nOutput the exact token tickers and on-chain addresses in JSON format.\n\nAlways ensure addresses are valid Solana mint addresses.\n\nDo not include commentary in your final output, only the JSON."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        336,
        0
      ],
      "id": "d954c60a-d59b-4815-9bff-30747075d5cc",
      "name": "Coin selecter"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "gpt-5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        608,
        256
      ],
      "id": "2d96dfcc-4260-4ec6-8695-3fb9754bcae8",
      "name": "GPT 5",
      "credentials": {
        "openAiApi": {
          "id": "UcL2IauWIeEqAz0d",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "gpt-5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        192,
        256
      ],
      "id": "d0ca3a78-c0c3-4baa-8556-f21967ace42d",
      "name": "GPT-5",
      "credentials": {
        "openAiApi": {
          "id": "UcL2IauWIeEqAz0d",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "90e5cce3-ed1b-438a-9834-9f4898f31a5a",
      "name": "Schedule Trigger"
    }
  ],
  "connections": {
    "Output to from & to tokens": {
      "ai_outputParser": [
        [
          {
            "node": "Coin selecter",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Price Quote Tool": {
      "ai_tool": [
        [
          {
            "node": "Pro trader",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Execute Trade Tool": {
      "ai_tool": [
        [
          {
            "node": "Pro trader",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Coin selecter": {
      "main": [
        [
          {
            "node": "Pro trader",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT 5": {
      "ai_languageModel": [
        [
          {
            "node": "Pro trader",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "GPT-5": {
      "ai_languageModel": [
        [
          {
            "node": "Coin selecter",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Coin selecter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c4eae34af81eeff658410c97c38d8a485e4c73ba5cea5b25eef189aa5e5a73b9"
  }
}