workflows/o/Offer_Letter_Broadcast_(Template).json
{
  "name": "Offer Letter Broadcast (Template)",
  "nodes": [
    {
      "id": "c5e1b5eb-facc-55ad-8699-ab14c657d93b",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {}
    },
    {
      "id": "8d3c4aaa-31d5-5556-9937-f0bd638f694e",
      "name": "Sample Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "subject",
              "value": "Offer Letter Broadcast"
            },
            {
              "name": "ref",
              "value": "REPLACE_WITH_YOUR_VALUE"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "8d7fdef8-2b02-510e-a7c2-1d897fc54a8f",
      "name": "Lookup External",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/hr-recruiting-offer-letter-broadcast/lookup",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": false,
        "bodyParameters": {}
      }
    },
    {
      "id": "d7096377-1bdd-58d7-8d63-f50b50461bb7",
      "name": "Transform Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        900,
        300
      ],
      "parameters": {
        "jsCode": "// Transform lookup result for Offer Letter Broadcast.\nconst items = $input.all();\nreturn items.map((it) => ({ json: { ...it.json, processed: true } }));\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "e9acb27e-efa3-555b-bf29-61298f697a1d",
      "name": "Store Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1120,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/hr-recruiting-offer-letter-broadcast/store",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "placeholder",
              "value": "REPLACE_WITH_YOUR_VALUE"
            }
          ]
        }
      }
    },
    {
      "id": "bc86ce91-8cfa-5be8-b1ab-2e532ff629d7",
      "name": "Done",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1340,
        300
      ],
      "parameters": {}
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Sample Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sample Input": {
      "main": [
        [
          {
            "node": "Lookup External",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup External": {
      "main": [
        [
          {
            "node": "Transform Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Payload": {
      "main": [
        [
          {
            "node": "Store Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Record": {
      "main": [
        [
          {
            "node": "Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "tags": [
    {
      "name": "category:hr-recruiting"
    },
    {
      "name": "pattern:manual-sample-transform-store"
    },
    {
      "name": "expansion-pack-v0"
    }
  ],
  "meta": {
    "templateGenerator": "open-workflow-library-expansion-pack-v0",
    "templateCategory": "hr-recruiting",
    "templatePattern": "manual-sample-transform-store"
  },
  "versionId": "93a1170b-1f63-524a-806b-b57f080c1a95",
  "id": "2b710186-9805-56e0-abf2-a1a560003966"
}