workflows/m/Matter_Area_Auto-Tagger_(Template).json
{
  "name": "Matter Area Auto-Tagger (Template)",
  "nodes": [
    {
      "id": "c8a37e17-f21e-5285-824f-be94b9a27934",
      "name": "Score Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "legal-admin-matter-area-auto-tagger-score",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "9d3884fb-bbce-56da-b1c9-57c90c08896b",
      "name": "Enrich From Source",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/legal-admin-matter-area-auto-tagger/enrich",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": false,
        "bodyParameters": {}
      }
    },
    {
      "id": "70da21b2-e8cc-5c55-a7f6-83d6b964093e",
      "name": "Score Record",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "parameters": {
        "jsCode": "// Score record for Matter Area Auto-Tagger.\nconst items = $input.all();\nreturn items.map((it) => ({ json: { ...it.json, processed: true } }));\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "16982d2f-b9df-564d-a042-af500b34e5ca",
      "name": "High Score",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        300
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"score\"]}}",
              "operation": "largerEqual"
            }
          ]
        }
      }
    },
    {
      "id": "a22374e4-e0bc-59cc-a8f8-b8baf14e9305",
      "name": "Update High Path",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1120,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/legal-admin-matter-area-auto-tagger/route-high",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "placeholder",
              "value": "REPLACE_WITH_YOUR_VALUE"
            }
          ]
        }
      }
    },
    {
      "id": "ad084e77-6016-53bb-8bf3-3940791643da",
      "name": "Update Low Path",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1120,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/legal-admin-matter-area-auto-tagger/route-low",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "placeholder",
              "value": "REPLACE_WITH_YOUR_VALUE"
            }
          ]
        }
      }
    },
    {
      "id": "03a73847-cc45-5396-9e77-229170a37f1a",
      "name": "Merge Paths",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        1340,
        300
      ],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "id": "31383e81-0cca-56e4-a5ad-c80f60f37f7c",
      "name": "Respond Done",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1560,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"scored\"}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Score Webhook": {
      "main": [
        [
          {
            "node": "Enrich From Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich From Source": {
      "main": [
        [
          {
            "node": "Score Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Record": {
      "main": [
        [
          {
            "node": "High Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "High Score": {
      "main": [
        [
          {
            "node": "Update High Path",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Low Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update High Path": {
      "main": [
        [
          {
            "node": "Merge Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Low Path": {
      "main": [
        [
          {
            "node": "Merge Paths",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Paths": {
      "main": [
        [
          {
            "node": "Respond Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "tags": [
    {
      "name": "category:legal-admin"
    },
    {
      "name": "pattern:webhook-enrich-score-branch"
    },
    {
      "name": "expansion-pack-v0"
    }
  ],
  "meta": {
    "templateGenerator": "open-workflow-library-expansion-pack-v0",
    "templateCategory": "legal-admin",
    "templatePattern": "webhook-enrich-score-branch"
  },
  "versionId": "792f60db-9db9-5dc8-8ba6-3e13da4691d9",
  "id": "e2db5f30-1ba9-5518-99af-fb195943f85d"
}