workflows/n/New_Customer_Welcome_Trigger_(Template).json
{
  "name": "New Customer Welcome Trigger (Template)",
  "nodes": [
    {
      "id": "eb8a98c2-379b-530a-a30b-242460675dd3",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "customer-support-new-customer-welcome-trigger-intake",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "fca1a2f0-f57a-5364-bbf2-e73492abdcbc",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "input",
              "value": "={{$json[\"body\"]}}"
            },
            {
              "name": "source",
              "value": "New Customer Welcome Trigger"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "8fd97452-1611-5d32-a513-2e7945517079",
      "name": "Validate Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"input\"]}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      }
    },
    {
      "id": "582c4bba-4af7-5f07-9192-f6975e81864a",
      "name": "Forward To Service",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        900,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/customer-support-new-customer-welcome-trigger/forward",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "placeholder",
              "value": "REPLACE_WITH_YOUR_VALUE"
            }
          ]
        }
      }
    },
    {
      "id": "aa29cee1-c316-5e1a-9c72-0d421bd8fafc",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1120,
        200
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"accepted\"}",
        "options": {}
      }
    },
    {
      "id": "9286e3bc-a6a7-5bd1-b456-04e0e6fc96eb",
      "name": "Respond Invalid",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        420
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"invalid\"}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Forward To Service",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Invalid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Forward To Service": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "tags": [
    {
      "name": "category:customer-support"
    },
    {
      "name": "pattern:webhook-intake-validate"
    },
    {
      "name": "expansion-pack-v0"
    }
  ],
  "meta": {
    "templateGenerator": "open-workflow-library-expansion-pack-v0",
    "templateCategory": "customer-support",
    "templatePattern": "webhook-intake-validate"
  },
  "versionId": "2503afc6-9c3c-5b32-be8c-0d9c0f3cc01f",
  "id": "83ddbbfe-95b5-55dd-bc88-808e380676f6"
}