workflows/f/Follow-Up_Question_Reminder_(Template).json
{
  "name": "Follow-Up Question Reminder (Template)",
  "nodes": [
    {
      "id": "d0f82428-fb00-5b93-85b3-ca04fa9b66de",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      }
    },
    {
      "id": "45dd63c3-4515-58d1-ba96-b9d2ff90569c",
      "name": "List Items",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/ai-agents-follow-up-question-reminder/list",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": false,
        "bodyParameters": {}
      }
    },
    {
      "id": "f88d5a94-7871-5eed-84d9-52703e92dc01",
      "name": "Filter And Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "parameters": {
        "jsCode": "// Filter and format digest for Follow-Up Question Reminder.\nconst items = $input.all();\nreturn items.map((it) => ({ json: { ...it.json, processed: true } }));\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "d8c07942-e613-56d8-99ef-4bc4059ee2fd",
      "name": "Non Empty",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        300
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"items\"]}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      }
    },
    {
      "id": "36c08a8f-ff09-5732-ab0f-c5b73c364e80",
      "name": "Send Digest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1120,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/ai-agents-follow-up-question-reminder/send-digest",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "placeholder",
              "value": "REPLACE_WITH_YOUR_VALUE"
            }
          ]
        }
      }
    },
    {
      "id": "7cbc4b49-0f77-58fd-a321-ebe1dc5b0332",
      "name": "Nothing To Send",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1120,
        420
      ],
      "parameters": {}
    }
  ],
  "connections": {
    "Daily Schedule": {
      "main": [
        [
          {
            "node": "List Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Items": {
      "main": [
        [
          {
            "node": "Filter And Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter And Format": {
      "main": [
        [
          {
            "node": "Non Empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Non Empty": {
      "main": [
        [
          {
            "node": "Send Digest",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nothing To Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "tags": [
    {
      "name": "category:ai-agents"
    },
    {
      "name": "pattern:schedule-digest-format"
    },
    {
      "name": "expansion-pack-v0"
    }
  ],
  "meta": {
    "templateGenerator": "open-workflow-library-expansion-pack-v0",
    "templateCategory": "ai-agents",
    "templatePattern": "schedule-digest-format"
  },
  "versionId": "c340b5b5-b789-5409-810b-9b777156797a",
  "id": "c9e383e5-8593-5456-a1a7-02881457994c"
}