workflows/catalog/Calendar_Assistant.json
{
  "name": "Calendar Assistant",
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.telegramID }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        340,
        520
      ],
      "id": "6c6485ed-b751-404e-9f24-34ee4db532a6",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appA8HYCAyIpxynxK",
          "mode": "list",
          "cachedResultName": "CRM Database",
          "cachedResultUrl": "https://airtable.com/appA8HYCAyIpxynxK"
        },
        "table": {
          "__rl": true,
          "value": "tblDJJhJYXCEGhnC1",
          "mode": "list",
          "cachedResultName": "People",
          "cachedResultUrl": "https://airtable.com/appA8HYCAyIpxynxK/tblDJJhJYXCEGhnC1"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        1020,
        520
      ],
      "id": "93a00a5a-427b-46f9-9087-99ff2e1df8dd",
      "name": "Search CRM",
      "credentials": {
        "airtableTokenApi": {
          "id": "UZgCjm4iXYn1ib6x",
          "name": "Airtable Personal Access Token account 10"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Searches google calendar events",
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "test@aifoundations.io",
          "mode": "list",
          "cachedResultName": "test@aifoundations.io"
        },
        "timeMin": "={{ $fromAI('startTime','the start time and day of events being searched') }}",
        "timeMax": "={{ $fromAI('endTime','the end time and day of events being searched') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        520,
        520
      ],
      "id": "36a76f1f-eaf3-445a-b7c0-9e59d6e7a29f",
      "name": "Searches Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Rv10y8Bd8ReIo1xz",
          "name": "Google Calendar account 4"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Creates google calendar events",
        "calendar": {
          "__rl": true,
          "value": "test@aifoundations.io",
          "mode": "list",
          "cachedResultName": "test@aifoundations.io"
        },
        "start": "={{ $fromAI('startTime','the start time and day of events being created') }}",
        "end": "={{ $fromAI('endTime','the end time and day of events being created') }}",
        "additionalFields": {
          "attendees": [],
          "description": "={{ $fromAI('eventDescription','the description of the event being created with zoom link if applicable') }}",
          "summary": "={{ $fromAI('eventName','the name of the event being created') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        680,
        520
      ],
      "id": "8de010e0-b575-4b7c-b139-b2dcce2b9e96",
      "name": "Create Events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Rv10y8Bd8ReIo1xz",
          "name": "Google Calendar account 4"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Updates google calendar events",
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "test@aifoundations.io",
          "mode": "list",
          "cachedResultName": "test@aifoundations.io"
        },
        "eventId": "={{ $fromAI('eventID','the ID of the event needing updated') }}",
        "updateFields": {
          "description": "={{ $fromAI('eventDescription','the new event description') }}",
          "end": "={{ $fromAI('eventEnd','the new event end date and time') }}",
          "start": "={{ $fromAI('eventStart','the new event start date and time') }}",
          "summary": "={{ $fromAI('eventName','the new event name') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        840,
        520
      ],
      "id": "a8b38ff9-1d49-4a5b-aa4e-cb513becc480",
      "name": "Update Events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Rv10y8Bd8ReIo1xz",
          "name": "Google Calendar account 4"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=<AgentInstructions>\n    <Role>\n        <Name>Event Manager Agent</Name>\n        <Description>\n            This agent manages Google Calendar events—searches for existing events, creates new ones, and updates them as requested.\n        </Description>\n        <currentDate>{{$now}}</currentDate>\n    </Role>\n\n    <Goal>\n        <Primary>\n            Efficiently handle user requests for calendar events (search, create, update) with proper date formatting.\n        </Primary>\n    </Goal>\n\n    <Instructions>\n\n        <!-- Tools Section -->\n        <Instruction>\n            Tools Available:\n            1. Search Google Calendar\n            2. Create Google Calendar Event\n            3. Update Google Calendar Event\n            4. Search CRM in Airtable\n        </Instruction>\n\n        <!-- General Behavior -->\n        <Instruction>\n            Always check user availability and existing events before creating or updating an event.\n        </Instruction>\n        <Instruction>\n            Provide clear responses and confirm event details (time, date, attendees, purpose).\n        </Instruction>\n        <Instruction>\n            Utilize the CRM (Search CRM in Airtable) to find attendee contact information and, if needed, use \"Send Emails\" to share event details or updates directly with them.\n        </Instruction>\n\n        <!-- Date & Time Handling -->\n        <Instruction>\n            For a single-date request (e.g., “What do I have on Monday?”):\n            - Use StartDate as \"YYYY-MM-DD 00:00:00\"\n            - Use EndDate as \"YYYY-MM-DD 23:59:59\"\n        </Instruction>\n        <Instruction>\n            For a range request (e.g., “From Monday to Wednesday”):\n            - Use the first day of the range with \"00:00:00\" as StartDate\n            - Use the last day of the range with \"23:59:59\" as EndDate\n        </Instruction>\n\n        <!-- Event Management Steps -->\n        <Instruction>\n            1. Parse user request for date(s), time(s), and attendee(s).\n            2. Check availability or existing events with the \"Search Google Calendar\" tool.\n            3. If a conflict exists, offer alternative times.\n            4. On confirmation, create/update the event details (time, title, attendees, notes) using the appropriate tool.\n            5. Provide a succinct response to the user with the final event details or status.\n        </Instruction>\n\n    </Instructions>\n</AgentInstructions>\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        520,
        180
      ],
      "id": "467d8e32-a51d-4aa1-82cd-d4f98145c465",
      "name": "Calendar Guru"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        160,
        520
      ],
      "id": "30120c2d-0b26-497c-a200-45a2599396fa",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "9azA55avyYwOSI3p",
          "name": "OpenAi account 12"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "chatInput"
            },
            {
              "name": "telegramID"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        180,
        180
      ],
      "id": "f1ddb4a4-8955-4922-a62f-56fb8ad87310",
      "name": "Workflow Input Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "Calendar Guru",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Search CRM": {
      "ai_tool": [
        [
          {
            "node": "Calendar Guru",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Searches Calendar": {
      "ai_tool": [
        [
          {
            "node": "Calendar Guru",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Events": {
      "ai_tool": [
        [
          {
            "node": "Calendar Guru",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Events": {
      "ai_tool": [
        [
          {
            "node": "Calendar Guru",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Guru": {
      "main": [
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Calendar Guru",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Input Trigger": {
      "main": [
        [
          {
            "node": "Calendar Guru",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "082bee79-af05-4b3c-8373-778bd6c13895",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "19954721cad48ea56aa7928cde145d83fde57fd99df7821bc6e32e387cfc0338"
  },
  "id": "oLyZrByFqi0WCwPC",
  "tags": [
    {
      "createdAt": "2025-02-04T23:14:29.586Z",
      "updatedAt": "2025-02-04T23:14:29.586Z",
      "id": "Swv7crmRBufO4U2s",
      "name": "GCA"
    },
    {
      "createdAt": "2025-02-05T02:50:09.493Z",
      "updatedAt": "2025-02-05T02:50:09.493Z",
      "id": "rZ7buQxbFLEu6urf",
      "name": "Area"
    }
  ]
}