workflows/b/Blocked_Task_Monitor_(Template).json
{
  "name": "Blocked Task Monitor (Template)",
  "nodes": [
    {
      "id": "70c2f99d-f8d9-539e-a847-24c276ed805c",
      "name": "Form Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "project-management-blocked-task-monitor-form",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "a3e91178-3f62-562e-bf34-3e370cfaf2ac",
      "name": "Normalize Form",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "source",
              "value": "Blocked Task Monitor"
            },
            {
              "name": "input",
              "value": "={{$json[\"body\"]}}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "715ace8f-f343-537a-a163-5e9b77055cc8",
      "name": "Required Fields",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"input\"]}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      }
    },
    {
      "id": "f6753970-efab-58ca-8f83-84f25323aee0",
      "name": "Create CRM Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        900,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/project-management-blocked-task-monitor/crm-create",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "placeholder",
              "value": "REPLACE_WITH_YOUR_VALUE"
            }
          ]
        }
      }
    },
    {
      "id": "a590dd87-de1c-5dd0-a673-4fbb05fd68e5",
      "name": "Notify Owner",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1120,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/project-management-blocked-task-monitor/notify-owner",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "placeholder",
              "value": "REPLACE_WITH_YOUR_VALUE"
            }
          ]
        }
      }
    },
    {
      "id": "66ae89aa-4d0e-560c-ae8f-041e0330bdff",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1340,
        200
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"created\"}",
        "options": {}
      }
    },
    {
      "id": "eac90fc5-9dcf-5918-b2c7-38cf73aa462a",
      "name": "Respond Missing",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        420
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"missing-fields\"}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Form Webhook": {
      "main": [
        [
          {
            "node": "Normalize Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Form": {
      "main": [
        [
          {
            "node": "Required Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Required Fields": {
      "main": [
        [
          {
            "node": "Create CRM Record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Missing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create CRM Record": {
      "main": [
        [
          {
            "node": "Notify Owner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Owner": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "tags": [
    {
      "name": "category:project-management"
    },
    {
      "name": "pattern:webhook-form-crm-create"
    },
    {
      "name": "expansion-pack-v0"
    }
  ],
  "meta": {
    "templateGenerator": "open-workflow-library-expansion-pack-v0",
    "templateCategory": "project-management",
    "templatePattern": "webhook-form-crm-create"
  },
  "versionId": "1e65a898-db6e-581f-be71-619f2b9c1eea",
  "id": "7d841f3a-9216-5f54-9717-587dc01f577c"
}