workflows/a/Archived_Project_Cleanup_(Template).json
{
  "name": "Archived Project Cleanup (Template)",
  "nodes": [
    {
      "id": "c4a55b93-370d-5380-bc6e-794721125009",
      "name": "Action Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "project-management-archived-project-cleanup-action",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "1c70d3a4-faa8-5463-b4e3-64e382e80182",
      "name": "Compute Idempotency Key",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "parameters": {
        "jsCode": "// Compute idempotency key for Archived Project Cleanup.\nconst items = $input.all();\nreturn items.map((it) => ({ json: { ...it.json, processed: true } }));\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "09557edc-0608-5238-94e1-a3464f146cc6",
      "name": "Already Processed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"existing\"]}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      }
    },
    {
      "id": "c46c2772-412b-5675-8548-94eca891ea17",
      "name": "Respond Duplicate",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        200
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"duplicate\"}",
        "options": {}
      }
    },
    {
      "id": "38e32801-5a20-5a03-b026-061bbd9d7f42",
      "name": "Apply Action",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        900,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/project-management-archived-project-cleanup/apply",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "placeholder",
              "value": "REPLACE_WITH_YOUR_VALUE"
            }
          ]
        }
      }
    },
    {
      "id": "d3e6c0ab-192c-5ea3-a9cb-b92ccc0c67e3",
      "name": "Confirm Action",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1120,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/project-management-archived-project-cleanup/confirm",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "placeholder",
              "value": "REPLACE_WITH_YOUR_VALUE"
            }
          ]
        }
      }
    },
    {
      "id": "7a224b58-7c82-5762-aeb1-4301e8ce6fe5",
      "name": "Respond Applied",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1340,
        420
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"applied\"}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Action Webhook": {
      "main": [
        [
          {
            "node": "Compute Idempotency Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Idempotency Key": {
      "main": [
        [
          {
            "node": "Already Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Already Processed": {
      "main": [
        [
          {
            "node": "Respond Duplicate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Apply Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Action": {
      "main": [
        [
          {
            "node": "Confirm Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirm Action": {
      "main": [
        [
          {
            "node": "Respond Applied",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "tags": [
    {
      "name": "category:project-management"
    },
    {
      "name": "pattern:webhook-idempotent-action"
    },
    {
      "name": "expansion-pack-v0"
    }
  ],
  "meta": {
    "templateGenerator": "open-workflow-library-expansion-pack-v0",
    "templateCategory": "project-management",
    "templatePattern": "webhook-idempotent-action"
  },
  "versionId": "5d7bae75-9438-5b24-bf0c-da3387be0c8e",
  "id": "ccfe7530-9c5a-525f-98a0-b839ce190a3c"
}