workflows/s/SLA_Response_Breach_Alert_(Template).json
{
  "name": "SLA Response Breach Alert (Template)",
  "nodes": [
    {
      "id": "3574d731-3a4a-5ce4-aae0-4a80ff1de853",
      "name": "Status Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      }
    },
    {
      "id": "1d5fc949-fdae-574a-b1ae-5a79b6872c13",
      "name": "Check Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/sales-sla-response-breach-alert/status",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": false,
        "bodyParameters": {}
      }
    },
    {
      "id": "8bde9724-a09e-5572-90d9-e50a9df0d160",
      "name": "Status OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"status\"]}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      }
    },
    {
      "id": "0b24928f-612b-5151-a178-e92e0c7fe27a",
      "name": "Healthy",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        900,
        200
      ],
      "parameters": {}
    },
    {
      "id": "7dd270fe-4360-5741-8986-326b637f8f5b",
      "name": "Build Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        900,
        420
      ],
      "parameters": {
        "jsCode": "// Build alert message for SLA Response Breach Alert.\nconst items = $input.all();\nreturn items.map((it) => ({ json: { ...it.json, processed: true } }));\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "c9d9aaf5-c5f4-5f16-8bda-1436e9faba2b",
      "name": "Send Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1120,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/sales-sla-response-breach-alert/alert",
        "authentication": "genericCredentialType",
        "options": {},
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "placeholder",
              "value": "REPLACE_WITH_YOUR_VALUE"
            }
          ]
        }
      }
    }
  ],
  "connections": {
    "Status Schedule": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Status OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status OK": {
      "main": [
        [
          {
            "node": "Healthy",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Alert": {
      "main": [
        [
          {
            "node": "Send Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "tags": [
    {
      "name": "category:sales"
    },
    {
      "name": "pattern:schedule-status-alert"
    },
    {
      "name": "expansion-pack-v0"
    }
  ],
  "meta": {
    "templateGenerator": "open-workflow-library-expansion-pack-v0",
    "templateCategory": "sales",
    "templatePattern": "schedule-status-alert"
  },
  "versionId": "7b51fe24-6ed9-5c6f-9c59-6ba536c78f06",
  "id": "70af147f-15cd-5776-a8e5-66f4320c083e"
}